[2014-10-09 19:28] jmelosegui opened #1 "Adding client side events"

[2014-10-09 19:34] #1 closed, assigned to jmelosegui

[2014-10-09 19:35] jmelosegui opened #2 "Implement Image Map Types"

[2014-10-09 19:35] jmelosegui opened #3 "Add Image map type sample"

[2014-10-09 19:40] jmelosegui opened #4 "Create "overlaying an image map type" sample"

[2014-10-12 20:38] jmelosegui opened #5 "Implement Style Map Types"

[2014-10-12 23:00] #2 closed, assigned to jmelosegui

[2014-10-12 23:09] #3 closed, assigned to jmelosegui

[2014-10-14 12:43] jmelosegui opened #6 "Cannot set a virtual path for "TileUrlPattern""

[2014-10-14 12:46] #6 closed, assigned to jmelosegui

[2014-10-16 13:03] jmelosegui opened #7 "Add Style map type sample"

[2014-10-16 13:04] jmelosegui opened #8 "Change JavaScriptSerializer to JsonConvert from Json.net"

[2014-10-16 16:58] #5 closed, assigned to jmelosegui

[2014-10-16 16:58] #7 closed, assigned to jmelosegui

[2014-10-29 16:41] noobers opened #9 "Control needs some documentation"
Hello, I tried this control, there are many but this design looks very nice.

Very hard to debug, because of the missing documentations. Can you throw up a quick help document on whats happening inside the control.

How can I add my JS in the server side to your control registration

[2014-10-30 12:26] marwaFarahat opened #10 "Error during serialization or deserialization using the JSON JavaScriptSerializer. The length of the string exceeds the value set on the maxJsonLength"
Dear,
Thank you for you effort in this package.
I used (Markers Clustering) to locate a lot of services on Google map in my country (more than 8000 item with information window , custom icon and title for each) but I faced this error "Error during serialization or deserialization using the JSON JavaScriptSerializer. The length of the string exceeds the value set on the maxJsonLength".
 I added max

[2014-11-01 21:04] #8 closed, assigned to jmelosegui

[2014-11-01 21:50] jmelosegui opened #11 "Save some characters when serializing a Marker"
Change Latitude and Longitude for lat and lng respectively
Omit default value (true) for Clickable property
Omit default value (0) for zIndex property

[2014-11-01 22:01] #11 closed, assigned to jmelosegui

[2014-11-01 22:11] #10 closed, assigned to nobody

[2014-12-01 01:55] jmelosegui opened #12 "Implement Geolocation Feature"
- When the map is rendered, it should be centered in the client location.
- Build a sample using geolocation

[2014-12-09 04:54] ghost opened #13 "Getting map object"
Hi Juan,

After I create the map, if I want to change the center how can I do this? I can do some things in javascript but I don't know how to reference the map object. Is it created as a global variable in javascript?

Thanks in advance.

[2014-12-11 01:06] #12 closed, assigned to nobody

[2014-12-14 02:59] #13 closed, assigned to nobody

[2015-02-05 15:42] btidoug opened #14 "API Key"
Where do you set the Google map API key?

[2015-02-05 15:57] btidoug commented on #14
Ok - I found how to add the api key ... but now still getting an error where it is building the googlmaps link to the map.
![error](https://cloud.githubusercontent.com/assets/6748163/6063505/d1687e84-ad25-11e4-8497-aa96ba9e1b58.png)

[2015-02-05 16:00] btidoug commented on #14
[code]

[2015-02-05 16:11] jmelosegui commented on #14
Is your ApiKey an "alphanumeric only" value or do you have any special character in your Key?

Are you following the [google specifications](https://developers.google.com/maps/documentation/javascript/tutorial#api_key) to obtain an api key?

[2015-02-05 16:18] btidoug commented on #14
This is weird.  I create a plain index view from controller like example and it displays a map with or without a api key.  When I copy all the pieces to where it is supposed to "live", I get that error.

So, it has to be with my page.  I am using DataTable to show a table of waypoints.  When you select a row, it makes a ajax call to a different controller action that returns some more details abou

[2015-02-05 20:42] #14 closed

[2015-02-23 15:58] danielnp20 opened #15 "js error with infowindow"
Hi all,

I'm trying to use the GoogleMapMVC project with an info window, but when i clicked on the marker i got the js error "Uncaught TypeError: Cannot read property 'cloneNode' of null"

I want to know if anyone had the same issue and how can i fix it

thanks a lot for your help

[2015-02-23 21:09] jmelosegui commented on #15
Can you add a code sample (the less code the better) to reproduce the error?

[2015-02-23 23:26] danielnp20 commented on #15
Thks i found the problem and was mine. I used the word section and it has conflict

[2015-02-24 13:59] danielnp20 commented on #15
Hi, I suposed the problem was with a js variable named "section" but I was wrong. I uploaded the problem on the following url: http://www.amp-tg.com/Home/Contact

And this is the code i have:

    var poslat = 4.6882219073128795;
    var poslong = -74.03698925249249;
    var mapzoom = 12;
    var mapicon ="~/Images/Site/amp-icon.png";
    var mapsize = new Size(22, 22);
    var mappoint = new Poin

[2015-02-24 20:42] jmelosegui commented on #15
I think you problem is that you set the id of the map container to "map" and the GoogleMapMVC
control Name to "map"

    <div id="map">
        @(Html.GoogleMap().Name("map"))
    </div>

Change one of them and you should be good to go.

[2015-02-24 20:50] danielnp20 commented on #15
thanks!! .. that solves the issue!

[2015-02-24 20:50] #15 closed

[2015-03-01 02:43] #9 closed

[2015-03-01 02:44] #4 closed

[2015-03-08 00:09] jvillaro opened #16 "OnIdle event not correct"
Hi Juan,

I was trying to do something based on the "idle" event but it didn't work at first. Trying out your events demo I tested event per event and got the idle event to fire using "OnMapHeadingChanged" instead of the "OnMapIdle".
Have you noticed this? Am I going crazy?

Thanks in advance.
Jose.

[2015-03-08 19:10] #16 closed

[2015-03-08 19:16] jmelosegui commented on #16
Hi Jose,

You are right. There is a wrong mapping to that event when the class GoogleMapClientEvents is serialized. I just fix that so you can test it. Next week I will create a new nuget package that include this fix among others.

Thanks for your feedback.

[2015-03-08 20:53] minista1 opened #17 "How to view map by an address instead of by latitude and longitude?"
HI! I would like to use your project. But I would like to be able to <b>load addresses</b> not longitude and latitude. I tried to add the address parameter. But I could get it to work.  I know is possible. Do you get any suggestion on how I can implement that? Thank you very much.

[2015-03-09 05:22] jvillaro commented on #16
Hi Juan,

I’ll thank you for your efforts!

From: Juan Manuel Elosegui [mailto:notifications@github.com]
Sent: domingo, 08 de marzo de 2015 02:47 p.m.
To: jmelosegui/GooglemapMvc
Cc: jvillaro
Subject: Re: [GooglemapMvc] OnIdle event not correct (#16)

Hi Jose,

You are right. There is a wrong mapping to that event when the class GoogleMapClientEvents is serialized. I just fix that so you can test

[2015-03-09 16:57] jmelosegui commented on #17
Geocoding service is something I will start working soon.
Unfortunately GoogleMapMvc doesn't have that feature yet.

Thanks for your feedback.

[2015-03-11 03:48] minista1 commented on #17
HI! i used this library to find the Latitude and longitude: Google Maps Web Services API wrapper for .NET
https://github.com/maximn/google-maps

I found that too: https://github.com/Adconsulting/ADC.GMaps

You can use them to see how they get the Latitude and longitude with  the address.
Thank you for your library! :-)

[2015-03-15 20:46] #17 closed

[2015-03-15 20:50] jmelosegui commented on #17
Hi @minista1

Just added a new sample showing the [geocoding services](http://www.jmelosegui.com/map/Services/Geocoding).
Please let me know if this is what you are expecting.

[2015-03-29 21:02] minista1 commented on #17
HI! Yes, this what i was expected. Thank you very much. Now there is no need to get the longitude and latude if we get only the address.

Good job!

[2015-03-31 19:48] btidoug opened #18 "Markers clustering question"
In the demo for the Markers Clustering example, is it possible to also add InfoWindow to the markers that are added for the regions?

Having trouble merging the 2 demos (infowindow and clustering).

Thanks!

[2015-03-31 20:02] btidoug commented on #18
Found it ... used another example to merge the infowindow and the clustering.

[2015-03-31 20:02] #18 closed

[2015-03-31 20:04] btidoug opened #19 "Multiple marker selection"
Love that I found this control!!  Makes my life a lot easier!

Is there a possibility of adding a new function - allow user to select multiple markers from the google map and return list to controller?  I have see some examples of attempts on the web for ctrl+click or for drawing a "shape" and then selecting the markers.  Don't know how to add those examples to this control.

Thanks!

[2015-04-01 01:18] btidoug opened #20 "Map centering"
Is there a way to center a map based on the "average" of the markers that will be placed on it?

[2015-04-02 15:01] jmelosegui commented on #20
Well this is something you can accomplish with the current version.

in your controller before passing the marker collection to the view you can calculate the average longitude and latitude and set the map center using those values

[code]

then in the view just set the center and the marker collection. for more info look [this](http://www.jmelosegui.com/map/marker/DataBindingToModel) example.

[2015-04-02 15:01] #20 closed

[2015-04-02 15:09] jmelosegui commented on #19
Selecting marker is something that happens on client side.
Currently you can subscribe to client event only on the map object.
Handle events on markers is something i need to implement.
I will leave this issue open until the feature is ready.

Thanks for your feedback.

[2015-04-03 00:20] btidoug commented on #20
Is the CalculateAverageCenter function part of your control or is that just
a place holder for me to go make a function to find the center?

On Thu, Apr 2, 2015 at 11:01 AM, Juan Manuel Elosegui <
notifications@github.com> wrote:

[2015-04-03 00:57] btidoug commented on #19
Can the id of the map be identified with JQuery and have client events added with View script until the feature is implemented?

[2015-04-03 00:59] jmelosegui commented on #20
It is something you have to implement.

[2015-04-03 01:09] btidoug commented on #20
Ok ... no biggie just checking.

Thank You!

On Thu, Apr 2, 2015 at 8:59 PM, Juan Manuel Elosegui <
notifications@github.com> wrote:

[2015-04-03 15:31] jmelosegui commented on #19
@btidoug you can subcribe to the "OnMapLoaded" client event. See [this](http://www.jmelosegui.com/map/basic/ClientEvents) example for more info.

[code]

then in the view you will get a reference to the map object passed in the arguments

[code]
*Note: map is a reference to the [google map](https://developers.google.com/maps/documentation/javascript/reference#Map) object.*

That object does not ha

[2015-04-03 15:41] btidoug commented on #19
I will wait for your updates over the weekend.  Thank you very much!  I
can't believe I tried doing this all by hand!

Basically, I have a waypoint tracking program where the user can select
checkboxes of a bunch of waypoints from a table and they will "live" appear
as markers on the map.  This all works great so far.  Now, I want users to
be able to then select the actual marker(s) on the map and

[2015-04-05 01:40] jmelosegui opened #21 "Add client events to markers"
- The events handlers will be applied to all markers in the collection.
- Added "Id" property to the marker object, so it can be used to track the user interaction with the markers.

For mor info look at the following [sample](http://www.jmelosegui.com/map/marker/ClientEvents)

[2015-04-05 15:09] #21 closed

[2015-04-05 15:29] jmelosegui commented on #19
Hi @btidoug,

Just closed issue #21 which should be enought to fullfil your request.

Note that the new functionality is on the dev branch. You can see it in action [here](http://www.jmelosegui.com/map/marker/ClientEvents)

When you have a chance please download the latest version of the sample project and let me know what you think.

[2015-04-06 12:58] btidoug commented on #19
Looks awesome!

Couple of questions:
1. With the "left click" event on the marker now, does that affect the info window original functionality of the map itself?
2.  Is there a way to also grab a key control on left click?  Ex. Can I detect if ctrl+left click was used?

Thanks!

[2015-04-07 00:34] jmelosegui opened #22 "Add MouseEvent properties to the marker client event arguments"

[2015-04-07 00:37] #22 closed

[2015-04-07 01:15] jmelosegui commented on #19
1. On a marker, if you add a window and also add an event handler to the click event. Both events will occur: the control will call the function you set in the "OnMarkerClick" property of the control and the Info Window will pop up too.

2. I added a MouseEvent property to the client event arguments of the google marker. Now you can check key press along with the click events.

[code]

Also I upda

[2015-04-07 01:26] btidoug commented on #19
I love you...in a code guru kind of way!
On Apr 6, 2015 9:15 PM, "Juan Manuel Elosegui" <notifications@github.com>
wrote:

[2015-04-07 12:15] btidoug commented on #19
Any chance of a nuget package update?

[2015-04-07 23:12] jmelosegui opened #23 "Do not serialize InfoWindow Template property"

[2015-04-07 23:13] #23 closed

[2015-04-07 23:15] jmelosegui commented on #19
I need to add some improvement on InfoWindows serialization.
I think I will push the next version over the weekend

[2015-04-07 23:15] #19 closed

[2015-04-07 23:57] jmelosegui opened #24 "Save some characters when serializing a InfoWindow"
Change Latitude and Longitude for lat and lng respectively
Use lat and lng from the marker if those properties are not set in the InfoWindow object
Omit default value (true) for disableAutoPan property
Omit default value (0) for zIndex property
Omit default value (0) for maxWidth property

[2015-04-07 23:59] #24 closed

[2015-04-12 18:21] jmelosegui commented on #19
Hi @btidoug

Bad news :(  I was testing the marker click event and just realize the "internal" MouseEvent property is not always filled out by google. So the "hack" I used to check the ctrl key pressed will not  work.

Let me see if I can figure out a work around.

[2015-04-12 20:08] btidoug commented on #19
Is it specifically the control key? I can use whatever key...shift, alt,
etc.
On Apr 12, 2015 2:21 PM, "Juan Manuel Elosegui" <notifications@github.com>
wrote:

[2015-04-14 11:06] ritdaw opened #25 "Setting map height to 100% of the parent container"
The map width currently has a default of 100%, can the same be done for the height?

[2015-04-16 15:40] hardcoredevelopment opened #26 "Is it possible to add a marker on more then one address?"
Hello

Is it possible to add a marker on more then one address?

 @(Html.GoogleMap()
        .Name("map")
                .Center(c => c.Address("broadway 1 new york"))
        .Markers(m => m.Add()));

[2015-04-16 17:00] jmelosegui commented on #26
Hi,

Today Geo Location Services only works at the map level.
To fulfill your requirement I need to add that feature to the markers.

[2015-04-18 15:56] jmelosegui commented on #25
hi @ritdaw,

Now, if you set the map height to 0 or you do not set it at all, the map will get the height from its parent.

You can see this feature in action [here](http://www.jmelosegui.com/map/basic)

Thanks for your feedback

[2015-04-18 15:56] #25 closed

[2015-04-19 16:21] btidoug opened #27 "Multiple marker selection - repost"
Any update on the issue you were having with the "ctrl" key processing for allowing user to use ctrl-click to select multiple markers?

[2015-04-19 18:53] jmelosegui commented on #27
@btidoug, as you can see [here](https://developers.google.com/maps/documentation/javascript/reference#MouseEvent) google map mouse event does not provide any info about  key pressed during a mouse event. That is why I have none easy way to provide that information.

I will try to hack up a work around but I won't include the solution in any release until I  have something I can rely on.

[2015-04-19 18:53] #27 closed

[2015-04-20 11:04] ritdaw commented on #25
Brilliant thanks!

[2015-04-23 14:34] net4u opened #28 "Adaptive zoom"
Hi,
Is possible to adjust the zoom in respect to dataset available (e.g. if the coordinates in the data set are around the city centre to have e.g. zoom 15, if are around the city zoom 12, if are country wide zoom 7 etc.)
I have a stored procedure that filter the records in a table based on a radius around a given coordinate (e.g. current position) but I don't know how to use it in MVC. (I am new

[2015-04-24 00:03] jmelosegui commented on #28
@net4u this is something you can accomplish with the current version.

in your controller before passing the marker collection to the view you can calculate the zoom value  based on whatever logic you want and then set that value to the map using the Html Helper.

[code]

then in the view just set the zoom and the marker collection.

[code]
For more info about the databinding  look [this](http://w

[2015-04-24 00:03] #28 closed

[2015-04-24 05:30] net4u commented on #28
Hi
Thank you for reply. I think that my question, have two aspects: one is objective and refers to the code itself, and another is subjective and refers to zoom approximation for a given viewport (eg our coordinates can and scattered within a radius of 10 km and it involves a zoom level 15 or can be scattered within a radius of 200 km and it involves a zoom level 7 or 5 for example, but the assess

[2015-04-24 06:55] net4u commented on #28
I try a MVC app from scratch, and I have the following:
Model for Jobs in Jobs.cs:
namespace GMap.Models
{
    using System;
    using System.Collections.Generic;

    public partial class Jobs
    {
        public int IdJob { get; set; }
        public Nullable<int> IdWho { get; set; }
        public string User { get; set; }
        public Nullable<System.DateTime> DateAdd { get; set; }

[2015-04-24 07:22] Magic73 opened #29 "HeatMaps"
Is it possible to add the heatmaps ?

Here a well explained example:

https://rochcass.wordpress.com/2013/05/17/using-google-api-heat-maps/

:)

[2015-04-24 07:41] net4u commented on #28
I assume that my return View(jobs.ToList()); is similar with your return View(DataContext.GetRegions());

[2015-04-24 12:46] jmelosegui commented on #28
To fix the error you are facing, just add the following using to your page.

[code]

I regard with your zoom calculation. If I understand well, you need to calculate the zoom base on some "paramater" (the distance in km)  that some user set for the markers filter.

If that is correct you could have a helper method in your controller to find the zoom and pass it to the view using the model.

if you

[2015-04-24 19:47] net4u commented on #28
Thank you,
I added the missing "using" but now I fall into another errors related to marker.Description (not implemented ?!)
You are very kind. I will prepare a simple test app this weekend.
Thank you again

[2015-04-24 19:53] net4u commented on #28
BTW, I created a fork, but I really don't know how to upload my variation of project

[2015-04-24 19:57] jmelosegui commented on #28
Well you should know how to work with github.
I suggest you [this tutorial](https://www.codeschool.com/courses/mastering-github?gclid=CJL4_8Xcj8UCFWMF7AodVmgAuQ)

[2015-04-26 11:17] niki-funky opened #30 "Marker animations"
Is it possible to implement Marker Animations?
https://developers.google.com/maps/documentation/javascript/examples/marker-animations

[2015-04-27 02:08] jmelosegui commented on #26
Hi @hardcoredevelopment,

Just committed my first attempt to load markers using Geocoding. This is a tricky one due to the google API [limits](https://developers.google.com/maps/documentation/geocoding/#Limits).

I hope to come up with the final solution any time during the next week. In the meantime you can download the dev branch and try this initial version.

I also created the [markers geocodi

[2015-04-27 05:38] net4u commented on #28
Hi,

I uploaded a sample project at https://github.com/net4u/GMap-Test hope it helps. I just wonder if is possible to have 2 instance of google map control in same view, each pulling data from different model (e.g. from Jobs and respectively Candidates)

[2015-04-27 05:39] net4u commented on #28
In App_Data folder I put the script for database that is behind the models.

[2015-04-27 20:40] net4u commented on #28
I finally prepared the support for pulling data from various models (as in my previous question), but still not able to display a map.

[2015-04-29 00:47] jmelosegui commented on #26
Hi,
In the dev branch you will a complete solution to your request. Please let mi know your thoughts.
I will continue with some more testing and if everything is OK I will release a new version of the nuget package over the weekend.

[2015-04-29 00:47] #26 closed

[2015-04-29 02:05] jmelosegui commented on #30
Hi,
You can accomplish your scenario by using the [Marker Client Events](http://www.jmelosegui.com/map/marker/ClientEvents) to subscribe to the marker click event and pass the event handler you want to callback.

[code]

Unfortunately Markers Client Event is only on dev branch. I hope I can release a new version of the nuget package over the weekend.

[2015-04-29 02:08] #30 closed

[2015-04-30 19:54] pjsimon4321 opened #31 "KML"
Is there a way to display a KML in the current version of the application?  If not, I may start working on it and can contribute my changes, but before I did that, I wanted to see if it already existed somewhere in the code.

I am looking and I don't see it...

Thanks!

[2015-04-30 20:30] jmelosegui commented on #31
Hi,

No, the current version does not have that feature. Contributions are welcome.

[2015-05-01 07:19] ritdaw opened #32 "Centering + Zooming Map based on Markers"
Hi,

Is it currently possible to center the map based on the markers defined? i.e. if I had 20 markers throughout the United Kingdom could I center the map and zoom in as far as possible but still fit all of the markers on screen?

Thanks

[2015-05-01 07:30] ritdaw commented on #25
Any idea when the latest will be deployed to Nuget?

[2015-05-01 10:52] jmelosegui commented on #25
This weekend

[2015-05-01 13:47] ritdaw commented on #25
Great thanks.

[2015-05-02 15:28] #32 closed

[2015-05-02 15:40] jmelosegui commented on #32
Hi @ritdaw
I think you are looking for the "Fit map bounds to markers coordinates" feature. That feature is already implemented in the control. Please review the [FitToMarkersBounds](http://localhost/Jmelosegui.Mvc.Googlemap.Examples/marker/FitToMarkersBounds) sample for more info.

BTW there is a new release of the nuget package ([v0.6.0.0]()), so just update your project with the latest version

[2015-05-02 20:26] ritdaw commented on #32
Thanks, sorry I missed that somehow.

[2015-05-05 11:22] net4u commented on #28
Hi,

After playing for several days with the control, with success, today I implemented it in a _partialView approach.
After finding a way for successful dealing with multiple models in a single view (via rendering partial views), I made two _PartialViews that I render inside a regular view. The issue that I don't know how to deal with is that the first partial render ok and also display the map,

[2015-05-05 11:27] net4u commented on #28
Also I noticed if I stop render the first _Partial view that include a map, the second becomes visible

[2015-05-05 12:14] net4u opened #33 "Question about multiple instances"
Hi,

After playing for several days with the control, with success, today I implemented it in a _partialView approach.
 After finding a way for successful dealing with multiple models in a single view (via rendering partial views), I made two _PartialViews that I render inside a regular view. The issue that I don't know how to deal with is that the first partial render ok and also display the map,

[2015-05-07 00:43] jmelosegui commented on #33
Hi @net4u,

I just added a new sample to show how to render multiple map instances in the same page.
For more info review the following [link](http://www.jmelosegui.com/map/basic/Multimap)

The new feature is in the dev branch. When you have a chance, please, download the latest version and let me know your thougths.

[2015-05-07 06:02] net4u commented on #33
Hi,

Thank you. Update via NuGet?

[2015-05-07 16:50] jmelosegui commented on #33
I am working on more features for the next version.
Maybe in a couple of weeks.

[2015-05-10 15:23] niki-funky opened #34 "_PartialView"
Hi Juan ,
You have done great job.
I'm having trouble using your google maps helper in PartialView. Is it possible? If yes can you show some example. Thank you.

[2015-05-10 19:45] net4u commented on #34
Hi,

I used with success in partial view as follows:

@using System.Drawing
@using Jmelosegui.Mvc.Googlemap
@using Jmelosegui.Mvc.Googlemap.Overlays
@using JobShop.Models
@using JobShop.Extensions

@*@model JobShop.Models.IndexVM*@

@model IEnumerable<JobShop.Models.Candidates>

<div class="effect8">
    @{ Html.GoogleMap().Name("map_c")

                          .FitToMarkersBounds(true)

[2015-05-10 20:35] jmelosegui commented on #34
Hi @niki-funky,

Could you describe in more detail the issue you are facing?

I just create a new mvc application, then a partial with named "_MapViewer.cshtml" with the following content

[code]
then inside the Index.cshtml view I added this

[code]
then at the very end of that page this
[code]
I also added the following line to the web.config file inside the Views folder.
[code]
with this I don'

[2015-05-10 20:37] #33 closed

[2015-05-11 15:39] niki-funky commented on #34
Hi,
I'm using async Task<ActionResult> to get the model and to render the Partial view with the map. And then comes the problem. When I call the Action from the View - google map is not working.

[2015-05-11 21:35] jmingli opened #35 "outside map event trigger marker"
Hi Juan,

First, your project made our life so much easier!.

I got a question, like yelp.com how can I make an outside of the google map event trigger the marker on the map? any sample code would help a lot

http://screencast.com/t/evi08pijr

Thank you.

[2015-05-11 23:35] jmelosegui commented on #35
Hi @jmingli

That is a very interesting feature. Unfortunately I can not see an easy solution right now because I don't save the reference to the markers and therefore you cannot access to the markers collection out side the control.

In this moment I am working on the "layers feature" specifically on issue #29. After that one I will be glad to implement your request.

Thank for your feedback.

[2015-05-11 23:39] jmelosegui commented on #34
How do you call the partial view?
Are you doing an ajax request using any client side framework such as jQuery?

[2015-05-12 15:49] niki-funky commented on #34
Hi Juan,
yes I'm doing ajax request using JQuery. I see that Google js is not loading. I will look at your control to see how is ScriptRegistrar() implemented .

[2015-05-16 19:07] jmelosegui commented on #29
Hi @Magic73

Just pushed the changes needed to display a heatmap layer on google map. The changes are in dev branch. You can see a working sample [here](http://www.jmelosegui.com/map/Layers/Heatmap)

Please review the new feature and let me know your thoughts.

[2015-05-17 06:37] Magic73 commented on #29
Wow!

Awesome. Great work 😊

Thanks.

Inviata da Windows Mail

Da: Juan Manuel Elosegui
Data invio: ‎sabato‎ ‎16‎ ‎maggio‎ ‎2015 ‎21‎:‎07
A: jmelosegui/GooglemapMvc
Cc: Magic73

Hi @Magic73

Just pushed the changes needed to display a heatmap layer on google map. The changes are in dev branch. You can see a working sample here

Please review the new feature and let me know your thoughts.

—
Reply

[2015-05-17 06:39] Magic73 opened #36 "Width/Height 100% - fix"
I found an issue… I’m using the source code version of the package, instead of the NuGet one.
there’s a mistake on a GoogleMapBuilder which prvent to use the % width/height size.

GoogleMapBuilder, Build function.
actual version:
[code]
fixed one:
[code]

an also in GoogleMap class, inside the WriteInitializationScript I changed the width/height set to:
[code]
so that if width/height are not set,

[2015-05-17 06:39] Magic73 opened #37 "Custom class"
I added a new property “Class” to the GoogleMap class, in order to be able to override the default one.

inside the GoogleMap class:

 public string Class { get; set; }

then inside the GoogleMapBuilder class:

public GoogleMapBuilder Class(string className)
{
 if (className == null) throw new ArgumentNullException("class");
 Component.Class = className;
 return this;
}

and inside the Build funct

[2015-05-17 06:42] Magic73 opened #38 "Request: Custom Overlays"
Custom overlays in order to have HTML's marker.

Reference:
http://humaan.com/custom-html-markers-google-maps/

Google Api:
https://developers.google.com/maps/documentation/javascript/customoverlays

[2015-05-17 06:44] Magic73 opened #39 "Global access to the GoogleMap object"
I don't know it there's a better way in order to access to the GoogleMap internal object.

I edited the jmelosegui.googlemaps.js :

at the top of the file I defined a global var:

var gMapObject;

then I initilized this var where you create the Map object:

gMapObject = new google.maps.Map(this.getElement(), innerOptions);
this.GMap = gMapObject;

in case, would you like to point me how may I acce

[2015-05-17 07:02] Magic73 commented on #34
Put the scripts registrar inside the master page which contains the PartialView:

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}

it should works :)

[2015-05-17 13:36] jmelosegui commented on #39
With the current version you can subscribe to the **OnMapLoaded** client event of the control and inside the event handler you can receive the instance of the google map object through the argurments.

In the view write something like

[code]
Then the following
[code]
For more info about client event see the following [sample](http://www.jmelosegui.com/map/basic/ClientEvents)

[2015-05-17 13:36] #39 closed

[2015-05-17 13:47] jmelosegui commented on #37
With the current version it is really easy to customize the googlemap container by including styles in your css targeting the googlemap class the control provide.

I don't really see the need to add the "Class" helper method you are suggesting.
Could you please point me out with some scenarios where the current implementation is not enough

Thank for your feedback.

[2015-05-17 15:35] jmelosegui commented on #36
About the _GoogleMapBuilder_ type, I cannot find a version with the else branch associated with the component width.

In regard with the _GoogleMap_ type. There is no need to append those values (_height_ and _width_) to the serialized object during the _ScriptRegistrar_ output. Those values are used to create the html tags for the control. So I will prevent google map control to serialize those v

[2015-05-17 15:48] #36 closed

[2015-05-17 23:39] #29 closed

[2015-05-18 07:32] Magic73 commented on #36
"About the GoogleMapBuilder type, I cannot find a version with the else branch associated with the component width."

My fault.  there's the else branch to be commented on the Height. lines 47-50

30         public IHtmlNode Build()
31         {
32             var content = new HtmlElement("div")
33                 .AddClass("googlemap")
34                 .Attribute("id", Component.Id);
35

[2015-05-18 07:43] Magic73 commented on #39
I need to access to the Gmap object outside the main page. from an external javascript (which doesn't know anithing about jmelosegui...)

[2015-05-18 21:08] #37 closed

[2015-05-23 19:48] jmelosegui commented on #34
Hi @niki-funky

I just added a few changes to allow rendering the map using an ajax call.

Please review the following [example](http://www.jmelosegui.com/map/basic/AjaxPartialView) and let me know what do you think.

Thank for your feedback.

[2015-05-23 19:48] #34 closed

[2015-05-24 09:23] niki-funky commented on #34
Working great. Thank you.

[2015-05-24 16:30] jmelosegui commented on #35
Hi @jmingli

I just pushed the changes to allow access to the markers collection from outside the map.

Please review the sample [ExternalReference](http://www.jmelosegui.com/map/marker/ExternalReference) for more info.

The changes are in the dev branch. please download the latest changes and let me know your thought.

[2015-05-24 16:30] #35 closed

[2015-05-24 21:05] jmingli commented on #35
Juan,

Great, Thank you.

-Ming.

On Sun, May 24, 2015 at 9:30 AM, Juan Manuel Elosegui <
notifications@github.com> wrote:

[2015-05-27 15:35] btidoug opened #40 "Default map center"
I am using marker clustering and have the map set to center based on the marker boundaries.  Works great.  How can I set a default "center of map" if my view happens to not have any markers.  Right now it centers around florida and cuba.

If I use the .center feature, how does that work when using "fit to marker bounds"?

[2015-05-27 18:17] btidoug opened #41 "Show info window on right click"
Can the marker client events be redirected so a right click on a marker will show the info window instead of a left click?

[2015-05-31 15:53] jmelosegui commented on #40
You should use something like:

[code]
Then if your marker collection is not empty, the center of the map is calculated using the average of the markers coordinates, otherwise the center will be the one you set up using the _Center_ method of the _GoogleMap_ helper.

You can see all of this in action in [this](http://www.jmelosegui.com/map/marker/FitToMarkersBounds) sample.

[2015-05-31 15:53] #40 closed

[2015-05-31 19:10] jmelosegui commented on #31
Hi @pjsimon4321,

Just pushed a set of changes to allow displaying a Kml layer through GoogleMap control for Asp.Net MVC. To see the details please review [this](http://www.jmelosegui.com/map/Layers/Kml) sample.

The changes are in dev branch. Please review them and let me know your thoughts.

[2015-05-31 19:10] #31 closed

[2015-05-31 20:12] jmelosegui commented on #41
Hi @btidoug

Now the InfoWindow object has a property **OpenOnRightClick** to allow open the windows on either click or rightclick base on that property.

I also updated the infowindow [sample](http://www.jmelosegui.com/map/marker/InfoWindow). Please review the sample and let me know what do you think.

All the changes are on dev branch.

[2015-05-31 20:12] #41 closed

[2015-05-31 21:53] jpgutton commented on #31
Hi @jmelosegui,

This is fantastic ! I was starting looking for KML layer, I have 2 issues, when I build from the new source two build errors are found (mapobject.cs - line 13 and infowindow.cs - line 29), when "fixing" it I have then another error :

Unhandled exception at line 37, column 59140 in http://localhost:33868/0a0795d1180b4483bbadcda9aeed7056/browserLink
0x800a139e - JavaScript runtime

[2015-06-03 18:43] jmelosegui commented on #31
Hi @jpgutton,

See following answer, that works for me.

[http://stackoverflow.com/questions/20244048/javascript-errors-when-debugging-in-visual-studio-2013?answertab=oldest#answer-22213274](http://stackoverflow.com/questions/20244048/javascript-errors-when-debugging-in-visual-studio-2013?answertab=oldest#answer-22213274)

[2015-06-17 05:04] kwb332 opened #42 "Does not work in i.e"
Maps dont display in i.e or modzilla.  Works in Chrome.  I am using MVC 3.

Thank you,

Kwame

[2015-06-17 12:28] jmelosegui commented on #42
Hi @kwb332,

Could you point out some code sample reproducing the error ?
Is there any error on IE or Firefox developer console?
Could you point out any sample from the [demo site](http://www.jmelosegui.com/map) with that issue?

Thanks for your feedback.

[2015-06-19 17:00] righter86 opened #43 "Binding to Model & Multiple Markers"
Hi Juan, I'm having a little difficulty getting any markers to display. What I'm needing to do is to show markers on the map from my model. Any advice? Right now the map shows up with nothing in it.

MODEL:
[code]
CONTROLLER:
[code]
VIEW:
[code]

[2015-06-23 23:17] jmelosegui commented on #43
Hi @righter86,

I can't see any thing wrong with your code above.
Are you sure you do have items in the viewmodel when you pass it to the view?
Can you create a simple repository here on github reproducing the error so I can clone it and try to figure out the issue?

[2015-06-24 16:30] righter86 commented on #43
I think I found an issue with my linq query & got it showing now. But now I have another question.

With the InfoWindow for each marker. Right now I have a link for each marker but I also want to display a couple more rows of information but can't figure out how to format the code:

....
@{
    Html.GoogleMap()
        .Name("map")
        .Height(600)
        .Center(c => c.Latitude(40).Longitude

[2015-06-24 23:54] jmelosegui commented on #43
Please review the following [sample](http://www.jmelosegui.com/map/marker/InfoWindow)

[2015-06-25 00:23] righter86 commented on #43
I tried that example & plugged it in & tried editing it but I couldn't add anything after my Html.ActionLink.

[2015-06-26 10:58] net4u opened #44 "Error when used in a Detail View"
Hi
I use for a while the control in a Index view, but I can't make it working in a Detail view (where I want to see only the current marker for given record that I show as detail).
The list view is like:

    @using System.Drawing
    @using Jmelosegui.Mvc.Googlemap
    @using Jmelosegui.Mvc.Googlemap.Overlays
    @using JobShop.Models
    @using JobShop.Extensions
    @using PagedList.Mvc;
    @m

[2015-06-27 02:16] jmelosegui commented on #44
Hi @net4u

If you are trying to show only one marker on the map you don't need the "Bind to model" feature at all.

Please see the following [sample](http://www.jmelosegui.com/map/marker/InfoWindow) for more info.

[2015-06-27 13:49] #44 closed

[2015-06-27 13:50] #42 closed

[2015-06-28 17:54] winecraft opened #45 "Adding Draggable Markers"
Hello, I can see that you let us drag the map. However in admin mode, can you share some information on how
 -      Add a new icon/ with a template item or info box
 -      Allow user option to - drag the marker around showing the Icon location with confirmation / or turn off dragging.
 -       I wanted to add this code, but not break your build :)

Here is some js from google api to drag them aro

[2015-06-29 00:46] #43 closed

[2015-06-29 14:08] jmelosegui commented on #45
Hi @winecraft,

I don't think I fully understand what you are trying to accomplish.
I don't know what you mean by "admin mode" either.

If you want to know how to enable the drag feature in a marker and do something on 'dragend' you can see that in action in the following sample

[http://www.jmelosegui.com/map/marker/ClientEvents](http://www.jmelosegui.com/map/marker/ClientEvents)

Let me know if

[2015-06-30 05:06] winecraft commented on #45
Hi @jmelosegui, frist great job sir on your work. you're pure extragenius :) this is helping with my class work greatly... and understanding ASP MVC

I am trying to capture the lat/long co-ordinates of the draggable marker to where its finally moved to - i.e. dragend/stop event. I don't know how to get this information on the server side.
-  So, in the draggable marker - I was looking at the clien

[2015-07-03 17:56] mythros opened #46 "Display content in the modal"
Hello, thanks for the nice work.

In the modal on the marker, how do I enter or change the content in that modal?

After reading your custom events, I can see demo where, a user clicking action -> highlights that event, but **getting information there from the Controller or View does not seem to be easy (or perhaps there is something very custom you're doing)**.

Am I missing something? Can you pl

[2015-07-04 08:41] winecraft commented on #45
Any help?

[2015-07-04 16:24] jmelosegui commented on #45
Lot of question in just one issue. I will try to be concise :)

*_First Point_*

To capture the coordinates where the marker is dropped you will need to subscribe to the marker client envet "dropend"

[code]

Then in the event handler you need to send those coordenates back to the server.
To accomplish that you should use a client side framework to help you on the task (Ex: jQuery).

[code]

 *_Se

[2015-07-04 16:28] jmelosegui commented on #46
If by "modal" you mean the marker info window. You should follow the following [sample](http://www.jmelosegui.com/map/marker/InfoWindow)

If you want to know how to databind the info window content to some datasource, you should follow this [sample](http://www.jmelosegui.com/map/marker/DataBindingToModel)

[2015-07-07 13:51] #46 closed

[2015-07-07 13:51] #45 closed

[2015-07-09 04:05] mythros opened #47 "Move all Defaults and Keys to initialize function."
Here is what I found the default user API google keys are mapped to jmelosegui and they're missing from the initialize function _please see below_

-    I would recommend adding `ApiKey(string apiKey)` to the Initialize function below with passing a constructor from web,config
-    The googleAnalytics is using the users GA key, this should also be set here via web.config.

        `private void In

[2015-07-09 04:15] mythros opened #48 "InfoWindowContent Template Helper"
currently the HTML is just hardcoded in place - i.e. into this variable and rendered in the view `InfoWindowContent = @"<h2>Murcia</h2>",`

Suggestion:
I would like to _suggest_ that we move this into an `@InfoWindowHelper` function with some mechanism to retrieve content from a VM or Model - with some form of modal options / block behind window. Open other modals/close on new open etc.

**Multipl

[2015-07-09 13:23] jmelosegui commented on #47
Hi @mythros,

**First Point:**

Inside the initialize method of the `GoogleMap` class goes those values I think should be by default or google map api define as default.

Example:

If you go to the [google map api documentation for ZoomControlOptions](https://developers.google.com/maps/documentation/javascript/3.exp/reference#ZoomControlOptions) you will see the default value for ' ZoomControlOpti

[2015-07-09 13:23] #47 closed

[2015-07-09 13:37] jmelosegui commented on #48
**InfoWindow**

Could you write down an example of the syntax of the new approach you are suggesting in order to create the InfoWindow?

**Multiple overlays**

Maybe you could try [Markers Clustering](http://www.jmelosegui.com/map/marker/MarkerClustering)

[2015-07-10 14:54] #48 closed

[2015-07-16 12:59] btidoug opened #49 "Request: Select multiple markers"
Is there any way possible to add the ability of "clicking and dragging" a selection box around a group of markers and "select them"?

There are 4 markers in the image - is there anyway to select them all by dragging a selection box or polygon, etc.?

LOVE THE PLUGIN SO FAR!

![select](https://cloud.githubusercontent.com/assets/6748163/8723076/e6bc5b88-2b98-11e5-9d29-f522368c62f8.png)

[2015-07-18 15:09] jmelosegui opened #50 "Choose the google map api version to work with"

[2015-07-18 18:07] jmelosegui opened #51 "Add Traffic, Transit and Bicycling Layers"

[2015-07-18 22:21] #50 closed

[2015-07-18 22:21] #51 closed

[2015-07-22 12:23] qntapps opened #52 "Get coordinates selected in map"
Hi, firstly congratulations for your job....that's great. I would like use this api and i have save in one repository the location (lat/long) user selected/positioned marker in map. This is possible? If no, do you get any suggestion on how I can implement that? Thank you very much.

[2015-07-22 14:29] jmelosegui commented on #52
@qntapps to accomplish what you want, you will need to subscribe to markers client events.

This [sample](http://www.jmelosegui.com/map/marker/ClientEvents) can show you how and This [answer ](https://github.com/jmelosegui/GooglemapMvc/issues/45#issuecomment-118527837) can give you some insides about your specifics.

Let me know if you need something else.

[2015-07-24 10:53] qntapps commented on #52
@jmelosegui, thanks for your response. I'll try your suggestion in this weekend but i think it's just that
i need. I send feedback for you After ...thanks!

[2015-07-24 10:56] #52 closed

[2015-07-24 17:38] philoushka opened #53 "centering when binding a list of addresses"
I've got users who want to map out locations using a list of addresses.
I've got the addresses all model binding, and it's working really well. :+1:

How can I have the map _zoomed and centered_ appropriately on the plotted markers when supplying a list of addresses?

        @{
            Html.GoogleMap()
              .Name("map")
              .Height(500)
              .MarkersGeocoding(true)

[2015-07-24 18:25] philoushka opened #54 "client events: notify when marker placed"
I've got a large number of markers to bind to the map. It works really well, and the map populates as it churns through the list.

Is there a [client event](http://www.jmelosegui.com/map/basic/ClientEvents) or other way that I can hook up a JavaScript method to show the user progress on their large number of markers?

I'd like to show progress or `n/x` have been mapped.

[2015-07-24 18:42] philoushka opened #55 "Specifying Google Maps marker colours"
When you place a marker, the default is Google Maps' red markers?

Is there way, without specifying a local icon, to have Google use your choice of its own colored markers?

http://stackoverflow.com/a/18623391/23199

[2015-07-24 19:35] jmelosegui commented on #53
Hi @philoushka

You need to call the method `FitToMarkersBounds` on the GoogleMap helper.

Please check out this [sample](http://www.jmelosegui.com/map/marker/FitToMarkersBounds) for more info

[2015-07-24 19:43] jmelosegui commented on #54
Well that question only makes sense if you are using [Geocoding](http://www.jmelosegui.com/map/marker/Geocoding) to load your markers.

If my assumption is correct, the answer is no......... yet :)

I think I could add a progress event to the markers loading from [Geocoding](http://www.jmelosegui.com/map/marker/Geocoding) but that is not available right now.

So keep tuned. I will try to add that

[2015-07-24 19:48] philoushka commented on #53
Big thanks @jmelosegui . That was it. Thanks for helping with this fairly obvious question. I should've looked harder.

[2015-07-24 19:48] #53 closed

[2015-07-24 20:17] jmelosegui commented on #55
You caught me there. The current version does not allow absolute path when an icon is created. I also realize that the helper method require parameters that should be defaulted in another overload, so if you only want to change the image, you don't have to write the more parameterized method.

So would be nice to write

[code]

instead of

[code]

Thanks again for your feedback. I will try to fix

[2015-07-25 16:00] jmelosegui commented on #54
Hi @philoushka,

I have implemented this feature. Please review the this [sample](http://localhost/Jmelosegui.Mvc.Googlemap.Examples/marker/Geocoding) and let me know if it fulfill your scenario.

The code for this feature is on dev brach.

[2015-07-25 16:04] jmelosegui commented on #55
Hi @philoushka,

Now the Icon Helper Method will accept either a virtual or an absolute path. Also I have implemented two more overloads to cover more general use of cases (IMHO). You can find more info in the following [sample](http://localhost/Jmelosegui.Mvc.Googlemap.Examples/marker/CustomIcons).

[2015-07-25 16:16] philoushka commented on #55
Fantastic, thanks @jmelosegui !

I will use your example with the Google color-dot.png.

Would you consider building a new method like:

[2015-07-25 16:24] philoushka commented on #54
Fantastic work, thank you, @jmelosegui !

I'll test locally and update here within the next day or 2.

[2015-07-25 16:29] jmelosegui commented on #54
Uppps. Sorry samples were pointing to localhost.

Just updated the above comment. :)

[2015-07-25 17:13] philoushka commented on #54
Thanks again; The sample performs perfectly, and is the exact feature I would use.

I would love to see this feature in the next release of this control.

:+1:

[2015-07-25 18:50] jmelosegui opened #56 "To allow extending control features by inheritance"

[2015-07-25 20:38] jmelosegui commented on #55
@philoushka I do am open to contributions, but in this case by creating the helper you are proposing the control should include and distribute the images related with the different markers colors or, as you said in your comment, assume:

On the other hand I don't see to much benefit comparing this

[code]
with
[code]
However, I am really glad about your suggestion. It made me realize that a develo

[2015-07-25 23:09] philoushka commented on #55
Thanks for the thought and consideration on this. If not in the GoogleMapMvc library, but as an extension method, I can definitely get behind that. Bonus if you would ship that in the NuGet package and create the HtmlHelperExtension for your package users.

Myself I'd only change to use https, and a simple string interpolation if you can get away with shipping with C# 6.

    public MyMarkerBuilde

[2015-07-26 14:48] philoushka opened #57 "Outlining city limits"
Does Google provide this feature in its API as well?

Search for a city via geocode, and have its boundaries highlighted?

If so, are you interested in adding this feature to GooglemapMvc? Please forgive me if this is already in this library and I've missed it.

![image](https://cloud.githubusercontent.com/assets/930731/8894401/9a26eeee-336a-11e5-8bd0-9c8fd10fd2b7.png)

[2015-07-26 15:25] jmelosegui commented on #57
That would be a nice feature to have. But I don't know if it is already in the google map api. Yes, I would like to add it to this library.

Are you offering yourself to implement it? :)

[2015-07-26 16:34] philoushka commented on #57
[It appears the API isn't available right now](http://stackoverflow.com/questions/31639198/). That commenter appears quite knowledgeable, so perhaps this won't be a viable change for this library.

[2015-07-26 17:00] jmelosegui commented on #57
OK, Meanwhile I will close this issue. We can come back whenever the feature become available within the google map api.

[2015-07-26 17:00] #57 closed

[2015-07-28 19:02] jbravobr opened #58 "Map loading a big gray screen"
Hi!
First of all, let me give you a huge congrats!! This is the most amazing component !
Maybe you could help me with my issue. Using the control at my development environment the control works fine. But When I consume my server (after deploy the application) when I'm trying to render the map using the radius circle area the map shows the Zoom in/ou control, the buttons for Satellite or hybrid vie

[2015-07-29 01:33] jmelosegui commented on #58
Hi @jbravobr

Can you post a simplified portion of code that reproduces the error? (The less code the better)
Maybe you could share a link to the page having the error?

Thanks for your feedback.

[2015-07-29 01:41] jbravobr commented on #58
Hi Juan

It's revealed that the problem was with my controller and the parse of lat
and long with values using comma as decimal separator. Change it to a dot
works!

Thanks!!

Em ter, 28 de jul de 2015 às 22:33, Juan Manuel Elosegui <
notifications@github.com> escreveu:

[2015-07-29 02:04] #58 closed

[2015-08-02 18:35] #54 closed

[2015-08-02 18:35] #55 closed

[2015-08-02 18:35] #56 closed

[2015-08-07 19:52] cirpitch opened #59 "Get all markers"
Hi!

How can I get all the markers from the map using jQuery?

[2015-08-07 19:56] jmelosegui commented on #59
You could subscribe to the OnMapLoaded
[code]
and the in the event handler get all the markers from the event args
[code]
for more info see this [sample](http://www.jmelosegui.com/map/marker/ExternalReference)

[2015-08-07 20:15] #59 closed

[2015-08-08 11:30] cirpitch commented on #59
Thank!

[2015-08-09 10:20] cirpitch opened #60 "Info window"
Hi!

I create and show InfoWindow when creating the marker. How do I remove InfoWindow when click on button. My code:

[code]

[2015-08-14 01:33] philoushka opened #61 "Get long lat from geocoded"
I have a use case where users will be entering addresses to plot on a map. Sometimes these are in the hundreds.

Is there an existing function to take the result of the geocoded lookup and use its long and lat for future use?

I'm under the assumption that lat long plots are cheaper/faster than geocode lookups.

[2015-08-14 01:35] philoushka opened #62 "Snapshot a map"
I realize this question is not in-scope to your library.

What methods does a dev have to take a map with plotted points and save as an image?

I've tried creating a partial view and rendering out, but no answers to my question yet.

[2015-08-15 16:40] jmelosegui commented on #61
Hi @philoushka,

There is no such feature rigth now in the control, but I am not too far from it.

Currently you can subscribe to the "markers geocoding completed" event and I am able to pass the marker collection as an argument to any handler of that event. that marker collection use as index the marker identifier mapped when databinding (see [this sample](http://www.jmelosegui.com/map/marker/Ext

[2015-08-15 16:51] jmelosegui commented on #62
Actually this is a feature I have in my TODO list for a while now. That feature is called [Static Maps](https://developers.google.com/maps/documentation/staticmaps/intro). But is a completely different way to render the map.

I will try to prototype what I think should be the way to go inside my control, and maybe if you really need that feature you can take over and finish it. :P

[2015-08-15 16:52] philoushka commented on #61
Thanks @jmelosegui , that would be fantastic.

I've gotten close by `OnMarkersGeocodingProgress`, but if you're able to offer a concrete more reliable method, I'd be very much appreciative of that feature.

[2015-08-15 16:54] philoushka commented on #62
:astonished:

I will dig into that API and see if I can prototype something up to contribute to GooglemapMvc.

[2015-08-18 13:44] Workings opened #63 "Correct way to grab GMap reference?"
Whats the correct way to grab a reference to the Google map instance? Wanting to do additional things on the client side for adding polys etc, but not sure how should be getting ($jmelosegui.Googlemap.prototype.GMap)?

[2015-08-18 14:09] jmelosegui commented on #63
Please see the issue #13 or refer to [this](http://www.jmelosegui.com/map/basic/ClientEvents) sample.

Feel free to ask any further question.

[2015-08-18 14:09] #63 closed

[2015-08-18 15:03] Workings commented on #63
Thanks for that and very speedy response!

[2015-08-21 14:10] jmelosegui commented on #60
Since you are creating the marker and the infowindows from javascript. How is this related with my control??

Any way you have to keep a reference to your infowindow. Something like:

[code]
only then you can call the info windows close method:

[code]

[2015-08-21 14:10] #60 closed

[2015-08-24 19:34] rafaelfracasso opened #64 "Multiple requests via AJAX, multiple scripts registered via Html.GoogleMap().ScriptRegistrar()"
Example:  http://www.jmelosegui.com/map/basic/AjaxPartialView
![jmelo](https://cloud.githubusercontent.com/assets/1108788/9450155/04067584-4a75-11e5-9e6b-8a37f41f4afb.png)

If there is multiple requests (like clicking several times on the "Load" button), are registered in the <head> multiple scripts "https://maps.gstatic.com/maps-api-v3/api/* ". and with that, a console error: "You have included t

[2015-08-30 17:07] aidanrsa opened #65 "Placing a Marker Inside / on-top-of a Polygon/ Shape (still having access to long, latt, ...etc.)"
Hi Juan,

Great work - found this to be a great way to easily use google maps in ASP.NET MVC.

I've been unable to place a marker inside a created polygon on the map. I am able to add a marker anywhere outside the polygon.

I've tried setting clickable to true and false for the polygon property. I assumed clickable(false) would refer to ignoring the click on the polygon and instead on the map obje

[2015-08-30 20:02] jmelosegui commented on #65
Hi @aidanrsa,

You just found a bug.

I will commit a fix for that. Though I wont be able to release a new version of the control util I finish other things I am working on.

[2015-08-30 20:20] jmelosegui commented on #65
Hi again @aidanrsa,

I just committed a change that should fix the bug. The change is on dev branch. If you have a chance to try it, please let me know if that solve your issue.

Thanks for your feedback !!!!!

[2015-08-30 21:17] jmelosegui commented on #64
Hi @rafaelfracasso.

I am afraid the `ScriptRegistrar` cannot check whether those scripts are included in the client or not.
The  `ScriptRegistrar` render process happens on server side per request and I have no easy way to determine whether a request is from a client who doesn't have the google map script registered (first ajax request) or not (subsequent request on the same page). Is the client

[2015-08-30 21:22] jmelosegui commented on #49
I don't think you can do that with google map api. So please if you find a sample of that feature let me know and I will try to implement it inside my control. In the meanwhile I will close this issue.

Feel free to reopen it if you find that sample on [google maps api developer reference](https://developers.google.com/maps/documentation/javascript/3.exp/reference)

[2015-08-31 04:29] aidanrsa commented on #65
Hi Juan,

Thanks very much. I'll download dev branch and give it a test.

I'll update the nuget package in my project when you are ready to release it - any ideas on a rough date for nuget update i.e a week / months time .

Thanks for a great project demo and code!

[2015-08-31 13:48] btidoug commented on #49
Not a sample at google api but something that could be done with polygons maybe?

http://www.daftlogic.com/sandbox-google-maps-marker-lasso-search-tool.htm

[2015-08-31 13:59] btidoug commented on #49
Here's another sample of polygon.

http://www.mvjantzen.com/blog/?p=3190

[2015-08-31 14:09] btidoug commented on #49
1 more ...

http://stackoverflow.com/questions/17673580/google-maps-drag-rectangle-to-select-markers

[2015-08-31 14:38] btidoug commented on #49
I think I could get it to work if the "map" had events for Shift and Ctrl ... not the marker events - the map events.

[2015-08-31 15:37] btidoug commented on #49
Might also need a "mouse up" even on the map - not the marker.

[2015-09-04 00:05] jmelosegui opened #66 "Refactor and follow naming conventions to remove build's warnings"

[2015-09-04 02:11] jmelosegui commented on #66
**Some Bug Fixes**

**Enhancement**
 - Comply with Microsoft Naming Conventions.
 - Setup a CI to improve the build quality.

**Breaking changes**
 - Rename the namespace Googlemap to GoogleMap to follow Microsoft Naming Conventions
 - Rename Class GoogleMap to Map (To avoid conflicts with the namespace)
 - Rename Class GoogleMapBuilder to MapBuilder (To keep consistency with Map class name)
 - Re

[2015-09-04 06:23] s4054378 opened #67 "ssl"
Just wondering if there could be a way to use this with ssl.

when chrome loads the googlemap it turns off the green padlock - stating there is something unsecured on the page and all I have is googlemap

[2015-09-04 23:24] jmelosegui commented on #67
Hi @s4054378,

I just setup the web site sample project to use IISExpress under ssl, and as you can see in the following image I did have no problem whatsoever, rendering the map over ssl.

Please can you provide more info about your environment?

![image](https://cloud.githubusercontent.com/assets/450246/9696219/335880e8-533a-11e5-8045-32cc8087c706.png)

[2015-09-04 23:55] s4054378 commented on #67
Hey Juan

My site isnt completely live yet.

My ssl is fine for all the pages except my locations page. as per the
pictures below.

The only thing I have on the locations page that is different to other
pages is below.

cshtml before compile.

@using System.Drawing;
@using Jmelosegui.Mvc.Googlemap
@using Jmelosegui.Mvc.Googlemap.Overlays
@model IEnumerable<WebApplication1.Models.LocationCord>

@{

[2015-09-05 18:46] jmelosegui opened #68 "CustomIcon Sample is not showing the image"

[2015-09-05 19:58] jmelosegui commented on #64
Hi @rafaelfracasso

Just committed a change to fix this issue. Please see all the information and the complete implementation [here](http://www.jmelosegui.com/map/basic/AjaxPartialView).

Changes are on dev branch. I am planing to release a new version some time in next 2 days.

Thanks again for your feedback

[2015-09-05 19:58] jmelosegui commented on #65
I am planing to release a new version some time in next 2 days.

[2015-09-05 20:26] jmelosegui commented on #61
Hi @philoushka,

Just committed a change to add the address information to any geocoded marker.
the following image show the address information when inspecting a marker.

![image](https://cloud.githubusercontent.com/assets/450246/9701118/45dcc854-53ea-11e5-9b7f-f482cb137221.png)

The code is on dev branch, but I am planning to release a new versio sometime in the next 2 days.

Again thanks for yo

[2015-09-06 02:26] #64 closed

[2015-09-06 02:26] #65 closed

[2015-09-06 02:26] #66 closed

[2015-09-06 02:26] #68 closed

[2015-09-07 07:45] fivitti opened #69 "Draw line"
Hi!
Is possible draw a track on map? I can draw a KML track, but I want set list of points in code.
I can draw a polygon - closed curve, but I cannot draw a line - open curve.

[2015-09-09 12:37] jmelosegui commented on #67
To narrow down that issue, I will suggest to start with a simple map, something like this.

[code]
That map should be rendered over both: http and https. Let me know if not.

[2015-09-11 05:34] maxitimes opened #70 "Visual Studio 2015 error"
Followed the instructions, created new MVC project, install-package, added code as per instructions, built project with no errors, F5 or run in Microsoft Edge

Got the attached error.

Compiler Error Message: CS1061: 'HtmlHelper<dynamic>' does not contain a definition for 'GoogleMap' and no extension method 'GoogleMap' accepting a first argument of type 'HtmlHelper<dynamic>' could be found (are yo

[2015-09-11 14:13] jmelosegui commented on #70
@maxitimes

I am sorry about that. The install instruction should be explicit about adding the required namespace.
So please add the following using to the very top of your page:
[code]
and your map sould be rendered.

Please let me know if you have any other problem.

Thanks for your feedback

[2015-09-12 01:29] pippipmilk opened #71 "Get client-side reference to marker"
Hi,

Is there any way I can get a client side reference to a marker created by the HTML helper?

[2015-09-12 12:13] #61 closed

[2015-09-12 12:13] #67 closed

[2015-09-12 12:13] #70 closed

[2015-09-12 12:18] jmelosegui commented on #71
Hi @pippipmilk,

Yes, it is possible. Please see the issue #59.

[2015-09-12 12:18] #71 closed

[2015-09-12 16:22] jmelosegui commented on #69
Hi @fivitti

I just committed a set of changes to allow drawing [Google Polylines](https://developers.google.com/maps/documentation/javascript/examples/polyline-simple) over the map through the control.
You can see a working sample [here](http://www.jmelosegui.com/map/Shapes/PolylineBasic).

Please review the sample and let me know if that fulfill your request.

*The changes are on the dev branch.

[2015-09-13 23:36] maxitimes commented on #70
Thanks for your help, all working well

Hope to launch an app soon with your mapping feature.  I am looking to
utilize the searching feature in your Services Geolocation example.  I just
need to work out how to get
the Lat / Long coordinates of the search as well to do what i want with it.

What do you hope to achieve with your Google Map MVC Package?  If you need
me to like it or provide positive

[2015-09-14 00:42] jmelosegui commented on #70
@maxitimes I do expect nothing especial. This is a "code for fun" project.

Thank, again for your feedback.

[2015-09-14 20:58] fivitti commented on #69
Hi!
Great! This is it!
Very, very thanks for your work. Your project is really useful. ;)

[2015-09-14 20:58] #69 closed

[2015-09-23 08:47] si-wattsy opened #72 "Mapping Section Not Fitting Container"
Hello,

I am playing about with this control, which is great by the way.

In my project I am having an issue when using the control and that the interactable part of the control (ie the actual map) is around 200px wide where as the whole map container is set to width and height 0 and correctly fits the page. The result is a large grey space where the map should be, the Map/Satellite toggle does fi

[2015-09-23 14:38] si-wattsy commented on #72
While investigating this I have noticed that this occurs when the div that the map is sitting in has it's wisth set in terms of % rather than in absolute pixels. When using absolute pixels the map is the expected size.

Thanks

Simon

[2015-09-23 17:21] jmelosegui commented on #72
Thanks for your feedback!!!!

[2015-09-23 17:21] #72 closed

[2015-09-26 05:47] ashutosh-chauhan opened #73 "Places Autocomplete"
hi, i am using this api in my application and its works great but i have some concern about how to use "Places Autocomplete TextBox" with this control, i am not find any example related this.

[2015-10-04 10:17] maxitimes commented on #70
Hi Juan

Thanks again for your help with using your map package.

I have been able to create an app which uses your map and have released it
here
www.envygo.com.au

The issue i am having is working out how to get the map to update daily
with a new location to display.  I can get the location i am after from the
database but don't seem to be able to
pull this string out of the model data to display

[2015-10-12 09:58] des2k7 opened #74 "Printing (ctrl+p) of the control/map doesnt seem to work"
It seems like the map is not printable. I've spent several hours trying to find out why and can't find it.
The map stays blank/gray but the markers do show up.
The clusters are printable (with image) if you use MarkerClustererPlus for Google Maps V3

It seems that the "vanilla" gmaps3 version does work. Both my implementation and yours (the demo site) dont show up in the print preview for chrome a

[2015-10-12 12:28] des2k7 commented on #74
the problem seemed to be bootstrap (using 3.3.2).
Some css selector was setting max-width: 100% !important on images in its @media print

Overriding this on my print css solved my problem:
[code]

So the problem is not really with your component, but with bootstrap.

[2015-10-13 23:15] jmelosegui commented on #74
Hi @des2k7,

Thank you very much for your feedback!!!!

[2015-10-13 23:15] #74 closed

[2015-10-20 10:55] MRatnam opened #75 "MapLabels not appearing?"
Hi I'm trying to get a MapLabel to appear but this does not seem to be working. I've read the Google Maps JS file may be placing MapLabels at the wrong zIndex - don't know if that is related?

.MapLabels(ml =>
           {
               ml.Add()
                       .Latitude(-33.865143)
                       .Longitude(151.209900)
                       .Text("SYDNEY");
           })

[2015-10-20 10:57] #75 closed

[2015-10-20 10:57] MRatnam commented on #75
Whoops this class was not from this code!

[2015-11-06 11:11] maxitimes opened #77 "Google Map and displaying icon images"
Hi there, love you GooglemapMvc, just having one problem, display icon's on maps but only when trying to display multiple points when data binding to a model

Visual Studio 2015
@using Jmelosegui.Mvc.GoogleMap
...
...
...
                binding => binding.ItemDataBound
                    (
                        (marker, geoLocation) =>
                        {
                            mark

[2015-11-06 12:16] maxitimes commented on #77
ok found it, binding example missing the
@using System.Drawing

all good

[2015-11-06 12:17] #77 closed

[2015-11-11 16:44] rparrella commented on #55
Hello,

When using "custom icons" for the markers, I notice that the icon does not stay anchored to the correct lat/lon when the map is zoomed in or out.

For example, this does not seem to behave properly (blue google dot):

marker.Icon = new MarkerImage("http://maps.google.com/mapfiles/ms/icons/blue-dot.png", new Size(32, 32), new Point(0, 0), new Point(0, 32));

If I remove the previous line of

[2015-11-19 15:46] rparrella commented on #55
Hello, when adding a custom marker, such as...
marker.Add()
                .Latitude(23d)
                .Longitude(-82.3d)
                .Title("Hello World!")
                .Icon("~/Images/beachflag.png", size , origin, anchor)
                .Draggable(true);

It seems to automatically resolve to:
"path":"http://www.jmelosegui.com/map/Images/beachflag.png"

Is there any way to force the

[2015-11-19 23:58] jmelosegui opened #79 "Allow relative url accross the control"
Right now the control can process absolute and virtual URLs parameters (on those methods which require it). It would be nice if it allows also relative URL.

[2015-11-20 00:05] jmelosegui commented on #55
Hi @rparrella,

Thanks for your feedback. I just opened a new issue #79 to keep tracking of your request. Please refer to that issue to know its status.

[2015-11-22 16:25] jmelosegui commented on #79
Hi @rparrella,

Just added some changes to address your issue. You can find a nuget package with the changes on this source https://ci.appveyor.com/nuget/googlemapmvc

Please let me know if this works for you.

Thanks again for your feedback.

[2015-11-28 03:52] #79 closed

[2015-12-09 22:20] kgarsuta commented on #73
Any luck with this?

[2015-12-10 01:50] jmelosegui commented on #73
This is not implemented in the control. I will try to look into it as soon as I can.

Thanks for your feedback

[2015-12-10 20:19] kgarsuta commented on #73
Thanks, I look forward to it

[2016-01-20 23:14] lordofscripts opened #81 "Marker Title cannot be a variable"
I am following your Geolocation example but I noticed a strange problem with it. First, I am NOT using the UseYourLocation, rather I am using my own latitude/longitude inside Center() where both coordinate values come from ViewBag.Lat and ViewBag.Lon respectively and I see the marker is properly placed.

But further down on the same example a marker is created with a title. I noticed that if I use

[2016-01-21 01:32] jmelosegui commented on #81
I don´t think I clearly understand your problems, but I will do my best to answer you.

As the online sample states. If you use the option `UseYourLocation` along with the `Latitude` and `Longitude` from the `Center` helper method, the marker will be placed at your current location if your browser supports Geolocation and you have allowed the location sharing, otherwise it is placed in the map def

[2016-01-21 13:14] lordofscripts commented on #81
As I said I omitted the "UseYourLocation" call and only had Lat/Lon and it was properly placed in the configured location, I know because I first tried without it and it took me to some location in Europe and if I used "UseYourLocation" it centered on the center of the city rather than my location so that is working well.

Somehow I didn't get that message well indeed, thank you for the clarificat

[2016-01-21 13:14] #81 closed

[2016-01-25 19:20] lordofscripts opened #82 "Dynamically draw a map"
Let's say I use your component in the website (MVC5) but instead of hardcoding the map contents as you show on the examples, that I want to call a method or whatever that would dynamically draw the map.

For example, think that one time it will draw -in addition to the main (center) marker a series of surrounding locations like restaurants and maybe even draw a line between some of these locations

[2016-01-25 19:29] lordofscripts opened #83 "A client (sub) library/nuGet without jQuery?"
This is not an issue but rather an enhancement suggestion or request and who knows maybe there is a way....

I have my main website where I have installed your NuGet package for the map component. It depends (obviously) on jQuery for the actual drawing and on the HtmlHelper. But I have MVC Areas that I have compiled in separate assemblies. The main MVC depend on the satellite Areas defined in thos

[2016-01-25 20:06] jmelosegui commented on #82
The way to do  that is through databinding. See the last part of my comment [here](https://github.com/jmelosegui/GooglemapMvc/issues/81#issuecomment-173422996).

Basically you use your controller to gather all the data you want to draw in a map (regardless the source) then use the view model to pass that data (ie could be a collection of location with icons, descriptions, order of magnitude, basic

[2016-01-25 20:10] btidoug opened #84 "Quickly select multiple markers"
Is there a way to quickly select multiple markers on a map (maybe drawing a circle or a polygon) and then return the list to the controller??

[2016-01-25 20:11] jmelosegui commented on #83
When you said:

Do you mean just c# code (controllers, filters, etc)?

I have a question for this scenario.

Where are located the views for the controllers of those Areas?

[2016-01-25 21:22] lordofscripts commented on #82
Been experimenting with it and got it partially working. Here my remaining issues with it.

First I use your RegionInfo (found in Examples\App_Data\) for markers and then a similar one called PathInfo (contains only lat/lng) for points and an ExtendedRegionInfo that has two List<> properties, one for RegionInfo and the other for PathInfo. That ExtendedRegionInfo became my view model (rather than t

[2016-01-25 21:28] lordofscripts commented on #83
I followed more or less this setup:
http://arunendapally.com/post/how-to-use-a-mvc-area-in-multiple-applications

So even though the Area "seems" standalone, it is not, most of the MVC website code is missing. The main project (The actual MVC site) depends on the Area project. When the compilation is successful I copy the necessary views to the AreaName\Views of the main website.

With that setup

[2016-01-25 22:09] jmelosegui commented on #83
GooglemapMvc is all about the "V" on the MVC. So If your view will need access to objects from GooglemapMvc, yes you should to have the Nuget package install as a dependency for your area project, but more for the easy management of the Nuget package version than others things).

Since a while I am thinking of removing the dependency of jQuery and do everything I need on client side using plain ja

[2016-01-25 22:15] lordofscripts opened #85 "Bind to Map (Markers) shows Info Window Contents as normal page text."
I followed your example about binding to a model for markers (see my other post for details about how I did it) and each of my two markers has an info window text.

I noticed that when the map is rendered, the Title property is rendered as tooltip (as I have seen happen) and that is okay, but the actual Info Window Text (info window content) is displayed above the map as if I had put it there as n

[2016-01-26 14:43] #83 closed

[2016-01-26 14:47] jmelosegui commented on #84
Duplicated from #49

[2016-01-26 14:47] #84 closed

[2016-01-26 15:30] jmelosegui commented on #85
Yes, that is a documentation typo.

I will suggest you to always review the `View` and `Controller` tabs. In those tabs you will see the actual code used to run any specific sample.

[2016-01-26 18:53] lordofscripts commented on #85
Yup, that's what I have been doing after I noticed that. But the issue described in this post happens using the code in the View, not the code in the Documentation tab.

[2016-01-26 18:55] jmelosegui commented on #85
could you post any sample code (the less the better) reproducing the issue??

[2016-01-26 23:04] lordofscripts commented on #85
As I mentioned earlier RegionInfo is like the one in your Examples\App_Data, PathInfo is basiocally a RegionInfo with only Latitude/Longitude (for path vertices) and ExtendedRegionInfo is a model that has two List<> properties, one for RegionInfo and the other for PathInfo because I need to display both in the same map.

@using Jmelosegui.Mvc.GoogleMap
@model Models.ExtendedRegionInfo

@(Html.Goog

[2016-02-02 19:12] lordofscripts commented on #85
Any news? still having a problem with this issue. The content of the info window appears just above the Map DIV as if they were regular text. The do not appear as content of the marker's info window

[2016-02-02 19:12] lordofscripts commented on #82
Can't get that line drawn somehow...

[2016-02-02 19:38] jmelosegui commented on #85
Could you create a simple project here on github reproducing that issue?? If so I could look at it and try  to figure out the issue (if there is one).

[2016-02-02 19:41] jmelosegui commented on #82
The same as your issue #85. Please create a project here on github reproducing your issue so I can clone it and see if I can do something.

[2016-02-21 18:42] jmelosegui commented on #82
Something new on this??

[2016-02-21 18:42] jmelosegui commented on #85
Something new on this??

[2016-02-26 20:02] #85 closed

[2016-02-26 20:03] #82 closed

[2016-02-26 20:54] kaezerk opened #86 "Map clustering number"
Hi i really appreciate your great work!
following is my question :
i have a dabatase on which i have localities, name, lat, long, and **totalAmount**(int).
im currently using map clustering but instead of number of clusters, i want to show **TotalAmount **for each location.
I'v successfully bound the model but this is my issue.

regards.

[2016-02-29 20:21] jmelosegui commented on #86
When you say:

do you mean like a custom marker with the `totalAmount` value in it?

If so CustomMarkers is something I have pending a long time now (see #38 for more details).

Let me see if I can find some time to at least define the requirement in more detail.

Thanks for your feedback.

[2016-02-29 21:14] yoankrumov opened #87 "Map not visible"
After following the instructions, I have created a new sample mvc project, but the map is not visible. It must be something wrong on my side since it is just a sample project - https://www.dropbox.com/s/5ylgkocz59jbnk9/WebApplication1.zip?dl=0

 Do you have any suggestions?

[2016-02-29 21:30] jmelosegui commented on #87
I think the problem is your html layout (you are nesting two `class="row"` elements).

If you push your sample to github I can clone it and send you a pull request fixing it.

But basically replacing your Index.cshtml with the following code should work.
[code]

let me know if you need something else.

[2016-02-29 21:30] #87 closed

[2016-02-29 21:41] yoankrumov commented on #87
Great! It works :)

I will give this a try.

Thank you very much for the fast reply.

[2016-02-29 22:46] kaezerk commented on #86
Hi,
yes exact,

[2016-02-29 22:47] kaezerk commented on #86
Hi!
Yes! this is what i wants to do

[2016-03-01 10:30] kaezerk opened #88 "show info window bound to model on map loaded"
Hi, i was wondering if it is possible to show all bounded marker when the map is loaded.

[2016-03-02 02:05] khalome opened #89 "Printing Maps Not Working"
I noticed today that when trying to print maps the map will not display in the print preview. Markers, icons etc will still appear but no map. This occurs on my website and the authors site as well. For example: try to print this page http://www.jmelosegui.com/map/marker/SimpleMarker. No map as of right now. Any ideas?

[2016-03-02 13:24] jmelosegui commented on #88
For more info see [gitter.im discussion](https://gitter.im/jmelosegui/GooglemapMvc?at=56d5a57def05eec33ef05165)

[2016-03-02 13:24] #88 closed

[2016-03-02 13:28] jmelosegui commented on #89
There is a detailed workaround [here].(https://github.com/jmelosegui/GooglemapMvc/issues/74#issuecomment-147381908)

Please let me know if that helps.

[2016-03-02 13:28] #89 closed

[2016-03-13 22:51] YoanX1 opened #90 "Disable zooming with mouse wheel"
Hi,

is there a functionality for disabling the zoom performed wtih the mouse wheel? If not, you can consider this as a feature request :)

p.s. I think that DisableScrollWhellZoom() or  ScrollWheel=False are good options.

[2016-03-14 12:15] qntapps opened #91 "Custom Marker Icons with SVG"
Hi,
Thanks for you last response. Your api work much fine but i needed use one image in svg format with marker icons. But I noticed that, in framework, the propertie "path" accepted only path of files.
Its possible use svg image in marker icons?
I think use marker events but i use method "BindTo" and events are not available.

you speak portuguese?

Thanks for your support and congratulations to y

[2016-03-14 12:56] jmelosegui commented on #90
Hi YoanX1,

That feature is not available in the control, but is a simple one to implement. I would rather do something like:

[code]
to keep discoverability of this control consistent with the [google map api](https://developers.google.com/maps/documentation/javascript/reference?csw=1#MapOptions) _(and the ScrollWheel value should be true by default)_

So if you feel confident enough with this on

[2016-03-14 16:39] YoanX1 commented on #90
Hi,

I do not have a pull request, but I agree about the name of the property. It should be consistent with the official api.

[2016-03-14 17:02] jmelosegui commented on #91
I think you are talking about [Symbols](https://developers.google.com/maps/documentation/javascript/symbols). If so, that feature is not implemented.

Nop, I don`t speak Portuguese. I would like though :)

Thanks for your feedback.

[2016-03-16 21:21] btidoug commented on #49
Would you be open to "donations" to finish this enhancement?

[2016-03-17 18:58] jmelosegui commented on #49
Right now I have no time for this project. But I am open to pull requests.

[2016-03-18 12:43] btidoug commented on #49
$50?  $100?

[2016-04-05 15:13] gcapnias opened #92 "Bug: Javascript error when geolocation service not avaliable"
Steps to replicate in Chrome: Developer tools, Sensors, emulate position unavailable.

The map comes with the error:
- Error: The Geolocation service failed.
which is ok, but then an exception is thrown:

- Uncaught TypeError: Cannot read property 'latitude' of undefined(anonymous function) @ VM1108 jmelosegui.googlemap.js:813

Original line
- self.load(new google.maps.LatLng(this.latitude, this.l

[2016-04-11 14:32] mmlachak opened #93 "Markers and HideSingleGroupMarker"
I had a map with markers that was displaying correctly if I set the HideSingleGroupMarker to true.  It grouped my markers by country and when I clicked on a group marker individual markers for that country displayed correctly,  This functionality does not work anymore.  All I get is single markers when the HideSingleGroupMarker is set to true. I did not change any code or the version of your maps

[2016-04-13 08:19] behibehibehi opened #94 "I can not use Polyline in my vs 2015"
Hello do not bother,i'm download google map control and work correct,but when i want use the Polyline,i get this error:
"MapBuilder " does not defination for "Polyline" are you missing assembly refrenece?
what happen?i use this link for that purpose:
[](http://www.jmelosegui.com/map/Shapes/PolylineBasic)

[2016-04-13 17:51] behibehibehi opened #95 "Can i draw road map in this controller?"
I want draw road map with this contoller,how can i do that?

[2016-04-13 18:13] eduseixas opened #96 "Only one marker on mouse click"
- How to stay only one marker on click event on the map?
By clicking again on the map, the previous marker is deleted.

[2016-04-13 19:23] jmelosegui commented on #96
I think I cannot complete understand you issue.
Do you have any sample code?
Can you provide step to reproduce the error?

[2016-04-13 19:25] jmelosegui commented on #94
Do you have any sample code reproducing that error?
Did you follow the steps in  [this sample](http://www.jmelosegui.com/map/Shapes/PolylineBasic)?

[2016-04-13 19:52] eduseixas commented on #96
Grateful for fast contact.. Its a question. this is not a error.
I need create a marker on mouse click event (it´s ok!), but if exists a previus marker in the map, this to be deleted automatically, leaving only the last marker on the map.
How can I do this?

[2016-04-14 04:50] behibehibehi commented on #94
Yes I'm follow that step,but vs 2015 under of Polyline draw line and saye :
"MapBuilder " does not defination for "Polyline" are you missing assembly refrenece?

[2016-04-14 14:51] eduseixas commented on #96
Resolved: [http://stackoverflow.com/questions/1544739/google-maps-api-v3-how-to-remove-all-markers](url)

[2016-04-14 16:38] jmelosegui commented on #96
Thanks for your feedback

[2016-04-14 16:48] #96 closed

[2016-04-15 15:38] fmejiap commented on #94
Hi,
I have the same problem, cannot resolve Polylines.

If you visualize with Assembly Explorer no exist Polyline.

See you.

[2016-04-15 15:56] jmelosegui commented on #94
I would like to know the version you have installed?

[2016-04-18 07:59] fmejiap commented on #94
Hello jmelosegui.

I have installed the last version 0.8.0.0. The same issue  with 0.7.0.1.

I'm following the [example ](http://www.jmelosegui.com/map/Shapes/PolylineBasic) with VS 2013 and VS 2015.I can not attach a sample file that exceeds 10 MB.

Thanks.

[2016-04-26 12:29] ubfacility commented on #94
i am having the same...issue....as fmejiap....

[2016-04-30 20:06] jmelosegui commented on #94
The correct version to use Polyline feature is:

[https://www.nuget.org/packages/Jmelosegui.Mvc.Googlemap/0.8.16-beta-gd2b2689432](https://www.nuget.org/packages/Jmelosegui.Mvc.Googlemap/0.8.16-beta-gd2b2689432)

[2016-04-30 20:06] #94 closed

[2016-04-30 20:24] jmelosegui commented on #93
I cannot reproduce your issue. Could you please provide the steps to reproduce this issue, maybe a project here in github showing the error so I can fork  it and try to help you with.

[2016-04-30 23:28] #90 closed

[2016-04-30 23:33] jmelosegui commented on #90
Hi @YoanX1,

Just pushed a change that should resolve your request.

If you need to see the feature live, go [here](http://www.jmelosegui.com/map/basic/UIControls) and change the `Scroll Wheel` value to see this in action.

Also take a look to the following link, that could be helpful if you need to use this feature right away.

https://github.com/jmelosegui/GooglemapMvc#links.

[2016-05-01 00:14] jmelosegui commented on #92
Good catch. I am now fixing this. Sorry for the late response, though.

[2016-05-01 01:11] jmelosegui commented on #95
What do you mean by "Road Map" do you have any sample?

[2016-05-01 01:20] #92 closed

[2016-05-02 17:04] jmelosegui commented on #95
Ping :)

[2016-05-02 17:05] jmelosegui commented on #93
:eyes:

[2016-05-03 16:52] jmelosegui commented on #95
I will close this issue now. Feel free to reopen it if you want to address it again.

[2016-05-03 16:52] #95 closed

[2016-05-03 16:53] jmelosegui commented on #93
I will close this issue now. Feel free to reopen it if you want to address it again.

[2016-05-03 16:53] #93 closed

[2016-05-09 13:36] gcapnias commented on #73
In order to help on this:

- I've been able to add the code needed to implement the searchbox without changes to the control.
- The control provices the client event  .OnMapLoaded("mapEvent"); using this event you have access to map control, and you can use the existing code suggested in <https://developers.google.com/maps/documentation/javascript/examples/places-searchbox> to implement the Search

[2016-05-09 13:51] gcapnias commented on #62
Some help on this:

In order to implement Static Maps you have to implement a method that created a url that describes the snapshot.
- First you need a second key in order to use the api - this is a server key, not the client key the browser uses.
- The rest of the efford is to create a url like: 'https://maps.googleapis.com/maps/api/staticmap?center={0},{1}&zoom=19&size=600x480&maptype=hybrid&lan

[2016-05-09 17:41] jmelosegui commented on #73
Hi @gcapnias,

Thank for all your input in this project. I really appreciate it.

Could you share the error message? Maybe I can try to help you with that (If you want we can use https://gitter.im/jmelosegui/GooglemapMvc).

Maybe a new issue to track this down?

Totally agree. And I would love to review and accept any PR (right now I am not putting to much work into this control).

[2016-05-09 17:50] jmelosegui commented on #62
Thanks for the insights. Thanks for the insights, surely this will be helpful.

[2016-05-10 12:29] mmartinovich opened #99 "Info window content"
Hi,

I am trying to add an info windows to a marker. Everything works except "Title" that should be in info window but is rendered outside google map.
This is the link where you can see the problem:
http://alterpoljoprivreda.com/Home/Mapa

You can see the titles are rendered above map instead in the window.

If you could give any pointers that would be great!

Thank you
Marin

[2016-05-10 13:06] jmelosegui commented on #99
Could you share the source code you used to generate that map?

[2016-05-10 13:07] mmartinovich commented on #99
@using System.Configuration
@using System.Drawing
@using System.Globalization
@using AlterPop.Models.Organizacija
@using Jmelosegui.Mvc.GoogleMap

@model AlterPop.Models.SharedModels.ProizvodjaciViewModel
@{
    ViewBag.Title = "Mapa";
}

<section class="ct-single-event">

    <div class="ct-single-event-title text-center ct-u-marginTop20">
        <h3><span>Mapa proizvođača</span></h3>
    </div>

[2016-05-11 00:53] jmelosegui commented on #99
I found the issue:

In order to render an HTML code, the control uses the class `HtmlTemplate` which in turns uses a `TextWriter` (by accesing the `Writer` property of the `ViewContext`). There is no way to obtain the string representation of the information written by the writer (like for example in an `StringWriter`). That's why you need to use an  statement block `@{  }` and call the `Render()`

[2016-05-11 12:59] StefTheNetGuy opened #100 "ASP MVC 6 dnxcore 5 support"
Hi, I'm trying to integrate your package in a new MVC 6 website but I get a bunch of errors and the root cause is your package not being compatible with DNX Core v5.0
Are there plans to have a release supporting DNXCore v5.0?
Thanks!

[2016-05-11 14:09] gcapnias commented on #73
I realized the it was a VS2015 project - I have made a pull request for you.

I have created a Libraries property of the map control, in order to be able to load Google Maps libraries.

In order to prove the functionality, I have created two new examples, Places search box and Drawing tools.

[2016-05-11 14:30] jmelosegui commented on #100
I knew this was coming :). And yes this is in my to do list.

[2016-05-11 14:30] #99 closed

[2016-05-11 14:38] mmartinovich commented on #99
Hi,

Your solution worked!
Thank you for fast answer!

All the best!
On Wed, 11 May 2016 at 16:30, Juan Manuel Elosegui <notifications@github.com>
wrote:

[2016-05-11 14:41] jmelosegui commented on #100
I will keep this open to track it down.

[2016-05-12 10:46] mmartinovich commented on #99
Hi Juan,

clustering blue icon is missing? I see it is missing from your web site but
it was there yesterday...

thx

On Wed, May 11, 2016 at 4:38 PM Marin Martinovic <mmartinovich@gmail.com>
wrote:

[2016-05-12 13:49] jmelosegui opened #102 "ToAbsoluteUrl is not returning the full Url."
Should contains the original schema and full host name + the relative url.

Example
[code]

[2016-05-12 14:23] jmelosegui commented on #99
Yes your right. I am also receiving a 404 trying to reach the images urls (ie: http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m3.png).

Fortunately this control allows you to customize the image for marker clustering (see [this](http://www.jmelosegui.com/map/marker/MarkerClustering) for mor info).

Unfortunately I have a bug ( #102 ) in the control which is b

[2016-05-12 14:38] mmartinovich commented on #99
I used custom icon so I am ok. Thank you again!

On Thu, 12 May 2016 at 16:23, Juan Manuel Elosegui <notifications@github.com>
wrote:

[2016-05-12 14:49] jmelosegui commented on #99
Nice !!!. Thank you for the feedback.

[2016-05-15 18:24] #102 closed

[2016-05-17 11:32] khalome opened #104 "Plotting Multiple Polygons"
Is there a way to plot multiple "closed" polygons? Something similar to the example below but the problem with this code is it plots one huge polygon that doesn't look correct. I suppose the loop would come before adding the points but not sure what syntax to use.
[code]

[2016-05-17 11:36] khalome commented on #104
I guess I should clarify. In my model Model.features.geometry.coordinates is a List<List<List<List<double>>>>. So iterating through the collection would look like

for (int i = 0; i < item.geometry.coordinates.Count() - 1; i++)
{
ptn.Add(item.geometry.coordinates[0][0][i][0], item.geometry.coordinates[0][0][i][1]);
}

[2016-05-17 11:47] khalome commented on #104
I did get this to work but there might be a more elegant way.

@{
    Html.GoogleMap()
           .Name("map")
           .Height(500)
           .Center(c => c.Address("KC"))
           .Zoom(4)
           .Polygons(pf => {
               foreach (var item in Model)
	            {
                    pf.Add()
                        .Points(ptn =>
                            {

[2016-05-17 17:04] jmelosegui commented on #73
@ashutosh-chauhan @kgarsuta

Thanks to @gcapnias we now have a way to workaround the lack of this feature using the "mvc way".

See [this](http://www.jmelosegui.com/map/Libraries/SearchBox) for more detail.

[2016-05-17 17:05] jmelosegui commented on #73
I will leave this open until we have an mvc implementation, though.

[2016-05-17 17:18] jmelosegui commented on #104
Nice you can make it work.
Regarding

You could replace the `foreach (var item in Model)` by `Databinding` see [this](http://www.jmelosegui.com/map/Shapes/DataBindingToModel) form more info.

Regarding

I would rather improve the data structure so that the access to the coordinate `latitude` and `longitude` could be done through properties of some kind of object instead of indexes in a collection

[2016-05-17 17:18] #104 closed

[2016-05-20 11:27] afzalgujrat commented on #92
I've using Nuget 0.8.0.0 and this issue is still there any ideas ?

[2016-05-20 13:55] jmelosegui commented on #92
hi @afzalgujrat,

I will release a new version of the package soon. Meantime you could follow [this](https://github.com/jmelosegui/GooglemapMvc#self-service-releases) instructions to get the latest version from the CI server.

[2016-05-27 02:41] carand315 opened #105 "Pass Data (Markers) To Server"
Hi, How Can I Pass the markers data on the map to server via POST? Thanks.

[2016-05-27 17:20] afzalgujrat commented on #105
check this answer
https://github.com/jmelosegui/GooglemapMvc/issues/45

[2016-06-10 12:31] btidoug opened #106 "Marker Clusterer Icons missing"
The marker clusterer icons are missing from the map.  Debug shows
http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m3.png is not found.
![clusterer](https://cloud.githubusercontent.com/assets/6748163/15964284/a6427a64-2ee5-11e6-8aef-73ede3dcac47.png)

[2016-06-10 12:45] jmelosegui commented on #106
Yes, this is a known issue (see [googlemaps/js-marker-clusterer/#59](https://github.com/googlemaps/js-marker-clusterer/issues/59)).
This control allows you to specify your own image source though.
See [this](http://www.jmelosegui.com/map/marker/MarkerClustering) sample and change the style to "stackoverflow"

[2016-06-10 12:45] #106 closed

[2016-06-28 13:29] khalome opened #107 "Toggle Layers"
I've provided two screenshot links below to give you a better idea of what I am trying to achieve.

In my application I am passing a model of storm data to the MVC map control. I can successfully plot all the data onto a single map with custom icons, info windows etc. But I would like to add the capability to toggle on and off certain markers within a specific category from the client side. For ex

[2016-06-29 14:19] khalome commented on #107
I guess for now I could pass one of the five categories to the marker title when binding my model to the map control. From the client side event, OnMapLoad(), I can access the markers object via javascript and save to a global variable. When a user toggles a button corresponding to the marker title I could loop through the markers and turn them on or off that way I'm just curious if there would be

[2016-06-29 14:31] jmelosegui commented on #107
Hi @khalome ,

From what I can see, you just expose all possible solutions for your task:

##### Server Side
Limiting the collection on the server (based on some parameter from the client) and then passing that to the view using the model. This will involve a postback every time you want to filter out a category. Although you could use a [partial view with ajax](http://www.jmelosegui.com/map/basic

[2016-06-29 14:31] #107 closed

[2016-07-07 03:25] nyeinchanoo opened #108 "Drawing PolyLines"
Cannot find PolyLines function

[2016-07-07 12:59] jmelosegui commented on #108
Hi @nyeinchanoo

Please, see #94 and the [self-service-releases](https://github.com/jmelosegui/GooglemapMvc#self-service-releases) and let me know if that works for you.

[2016-07-07 12:59] #108 closed

[2016-07-12 16:36] khalome opened #109 "Can't find drawing library"
I see the drawing library is easily added in the examples at http://www.jmelosegui.com/map/Libraries/Drawing. However in my solution Libraries is missing. I reinstalled the package but still don't see it available in the code. In the packages config it says I have version "0.8.0.0" installed. Am I missing something?

[2016-07-12 17:13] jmelosegui commented on #109
Hi @khalome

That feature is not included in the version 0.8.0.0. Please read the  [self-service-releases](https://github.com/jmelosegui/GooglemapMvc#self-service-releases) and let me know if that works for you.

[2016-07-12 17:13] #109 closed

[2016-07-12 19:28] khalome commented on #109
Thanks, I added a config file and installed PM> Install-Package Jmelosegui.Mvc.Googlemap -Pre. I can see in the packages.config a reference to version "0.8.16-beta-gd2b2689432" but intellisense never brings up Libraries() when creating a map. If I compile and run anyways the map never renders. I am not sure if I am creating the nuget.config properly or it's in the right place.

[2016-07-17 19:07] sjafarianm opened #110 "similiar case as Toggle Layers #107"
Hi
I have a same scenario as [This Issue](https://github.com/jmelosegui/GooglemapMvc/issues/107) and i want to use "PartialView with Ajax" (server side toggling) , the problem is that i can load a map with a simple marker just like the sample, but when i use a code that is similar as markers clustering binding(passing a model from controller and bind the markers to that) it throws an error that i

[2016-07-19 01:27] maxitimes opened #111 "Google Map in New MVC .Net Core"
Hi there, i have been using your Googlemapmvc in the older version of MVC successfully.  However i have recently started converting my projects into the new .Net Core MVC 6 and found your nuget package is not compatible.

Will you be updating it? Please

[2016-07-19 12:38] #105 closed

[2016-07-22 09:45] nyeinchanoo opened #112 "MissingKeyMapError"
Hi Sir,

When I browse my map website using public IP, I got MissingKeyMapError. How can we add Key using Jmelosegui API. Please advise

[2016-07-22 10:20] Ruban1989 commented on #112
I get the same error. Is there any way to overcome it. I dont find any way to enter the key.

[2016-07-22 12:11] sjafarianm commented on #112
you should add a script to your page like
`<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkhgyurspkJiTPVd2U7aTOAwjighc9ySH6oHxOIYM&sensor=false"></script>`
you can get this key by registering your website in some URL provided by google. you can find it by googling it.

[2016-07-22 16:03] jmelosegui commented on #112
I think there is a helper method for that. The code should be something like this:

[code]

Please, could you confirm this method solve your scenario?

[2016-07-24 19:03] ASDK1 commented on #112
you should generate an api key for your web application

[2016-07-24 19:07] nyeinchanoo commented on #112
After adding API key as following,

@(Html.GoogleMap()
          .Name("map")
          .ApiKey("YourApiKeyHere"))

it works.

Thank you very much

[2016-07-24 19:07] #112 closed

[2016-07-24 19:15] nyeinchanoo opened #113 "Polyline function is not working in IIS"
I followed #94 to get polyline function. I can draw polyline in development time. But I hosted web app to IIS. I got "500 internal error". If I remove polyline function, it work in IIS. Can you advise me?

[2016-07-25 08:53] Ruban1989 commented on #112
Thanks. Excellent Work.

[2016-07-25 13:10] jmelosegui commented on #113
Well, for this I will need the steps to reproduce, or some code sample showing the issue.
Can you share the actual error message behind the "500 internal error".

[2016-07-25 13:11] jmelosegui commented on #110
Could you share the code you are using?

[2016-07-25 15:08] btidoug commented on #49
Any time to work on this yet?

[2016-07-25 15:10] jmelosegui commented on #49
my next thing here is to make it compatible with asp.net core

[2016-07-25 15:32] btidoug commented on #49
I would use the feature in asp.net core too

On Mon, Jul 25, 2016 at 11:10 AM, Juan Manuel Elosegui <
notifications@github.com> wrote:

[2016-07-25 17:24] sjafarianm commented on #110
@jmelosegui
the code is ok when i bind the model with the "model IEnumerable<seismoProject.Domain.eventsClass>",  but i don`t know what to do when i use Web API in order to filter markers.

@model IEnumerable<seismoProject.Domain.eventsClass>
            Html.GoogleMap()
                   .Name("map")
                   .Height(662).MaxZoom(8)
                           .StyledMapTypes(map =>

[2016-07-25 18:17] jmelosegui commented on #110
This control does not support WebApi, it is all about MVC.
The closest feature to WebApi is the [PartialView with Ajax](http://www.jmelosegui.com/map/basic/AjaxPartialView)

[2016-07-25 18:23] sjafarianm commented on #110
I Know, as i mentioned in my question,
i can draw a simple marker by this code:

@section scripts
{
   @(Html.GoogleMap()
          .ScriptRegistrar(scripts => scripts.Add("jmelosegui.googlemap.js"))
)

    <script type='text/javascript'>
        $('#myButton').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            new $.jmelosegui.GoogleMap('#mapContaine

[2016-07-25 18:26] sjafarianm commented on #110
actually PartialView with Ajax in your website is just for a single marker, could you give me an example for multiple markers with clustering enabled?

[2016-07-25 18:36] jmelosegui commented on #110
Let's do this the other way.

1. You create a sample project here in Github trying to accomplish your scenario.
2. I will clone it and fix it, by adding whatever it is not clear in the docs.

[2016-07-25 18:44] sjafarianm commented on #110
Ok, i will do it  in 2 or 3 days, then i will comment here to let you know.
do you think it is possible to do this with your library anyway? I know with JQuery based google map it can be done.

[2016-07-25 22:02] maxitimes commented on #49
Awesome, can't wait till .Net Core version is ready.

Thank you

[2016-07-27 11:16] ramiassi opened #114 "Libraries property is not included in the nuget package?"
Hello,
I was trying to use the GooglemapMvc package in my .net MVC application. I wanted to include a searchbox on the map just like the example you have on [http://www.jmelosegui.com/map/Libraries/SearchBox](http://www.jmelosegui.com/map/Libraries/SearchBox)

The compiler kept showing the error message : GoogleMapBuilder does not contain a definition for 'Libraries'. I tested different versions o

[2016-07-27 12:25] jmelosegui commented on #114
See this #109

[2016-07-27 12:25] #114 closed

[2016-07-30 07:39] nyeinchanoo commented on #113
Sorry I don't have any other error message. I can check it in browser.
browser show "500 internal Error".

On Mon, Jul 25, 2016 at 9:10 PM, Juan Manuel Elosegui <
notifications@github.com> wrote:

[2016-08-04 17:59] ogousseau opened #115 "Map in RenderAction is not visible"
Hi,

Merci for your job.
I have a problem, when i call this page :

[code]

from a another page :

[code]

the map doesn't appear and not code is generated in HTML

Where i wrong ?

Merci pour votre aide.
Olivier.

[2016-08-04 18:19] jmelosegui commented on #115
do you get any javascript error (in the browser javascript console)?

[2016-08-05 10:08] ogousseau commented on #115
Hi, sorry i haven't any errors in browser or console.

[2016-08-05 13:15] jmelosegui commented on #115
Did you followed the instructions on [https://github.com/jmelosegui/GooglemapMvc#install](https://github.com/jmelosegui/GooglemapMvc#install). Especially the following code at the end of the page?
[code]
Could you create a sample project reproducing this error (here in github) so I can clone it and try to help?

[2016-08-06 12:45] jhallam3 commented on #90
Hi, trying this now and still doesn't work .. Im using 0.8.0

![screen shot 2016-08-06 at 13 45 09](https://cloud.githubusercontent.com/assets/5174328/17456824/04a384d6-5bdc-11e6-9e77-736380866b6a.png)

[2016-08-08 13:06] jhallam3 opened #116 "Scroll Wheel"
Hi Scroll wheel cannot be found in the Html.GoogleMap()

as shown in the picture attached, Im using version 0.8.0

![screen shot 2016-08-06 at 13 45 09](https://cloud.githubusercontent.com/assets/5174328/17480749/4e27fc18-5d71-11e6-9e6f-0dcf124857a4.png)

[2016-08-08 13:22] jmelosegui commented on #116
I don't think it is on the official NuGet version, but you can add the AppVeyor feed and get the latest nightly following [this](https://github.com/jmelosegui/GooglemapMvc#self-service-releases) steps.

[2016-08-08 13:22] #116 closed

[2016-08-17 10:51] Zev19 opened #117 "Implementing autocomplete without map"
Hi,

Great work on this control. I do have a question though, is it possible to implement just the searchbox with autocomplete implemented without having to create a google map?

An example like this? https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform

Very new to GitHub, so I apologise if I am posting this incorrectly.

[2016-08-17 13:07] jmelosegui commented on #117
I think that is out of the scope of this project.

[2016-08-17 13:07] #117 closed

[2016-08-17 16:23] papyr opened #118 "Realtime updates"
Hi @jmelosegui nice work :+1:

I have been playing with this sample [here](http://www.jmelosegui.com/map/marker/DataBindingToModel) can you please share me some guidance on how to show realtime updates while truck moving. I have tried with signalR 2

Also, how to check bounding box, car/truck is out of box area.

thanks
Papi

[2016-08-22 14:40] SteveWhite383 opened #119 "Missing API key"
I get the following error when I follow the instructions to add a basic map:
https://developers.google.com/maps/documentation/javascript/error-messages#missing-key-map-error

Any ideas?

[2016-08-22 15:27] jmelosegui commented on #119
See [this comment](https://github.com/jmelosegui/GooglemapMvc/issues/112#issuecomment-234584768) for more info.

[2016-08-22 15:27] #119 closed

[2016-08-22 15:58] SteveWhite383 commented on #112
Thanks for your speedy reply and top class solution!

[2016-09-04 05:08] keyone2693 opened #120 "how can bind polygon editable"
i know how bind polygon
but i want to be editeble the point:
how can i do that?

[2016-09-05 20:30] gabriele-v commented on #109
Same here, also after adding self-service-releases:
`Added package 'Jmelosegui.Mvc.Googlemap.0.8.16-beta-gd2b2689432'`

But Libraries() still missing..
Any ideas?

[2016-09-14 20:10] winecraft opened #121 "4.5.2 fails and Nuget does not update"
Hello, I am using VS 2015 (also tried 2013), I'm getting errors when I target 4.5.2 _(BTW you have 2 different versions currently, 4.5 and 4.5.1)_

![image](https://cloud.githubusercontent.com/assets/13067681/18527966/f462b6d2-7a94-11e6-9c78-04517bb137b6.png)

![image](https://cloud.githubusercontent.com/assets/13067681/18528120/a413d28c-7a95-11e6-8a1f-b4fe47549e44.png)

[2016-09-14 21:15] jmelosegui commented on #121
In order to build the solution through Visual Studio you need to install [NoProj](https://visualstudiogallery.msdn.microsoft.com/fbe9b9b8-34ae-47b5-a751-cb71a16f7e96).
I think that will solve your issue. Please try it and let me know.

[2016-09-15 01:49] jmelosegui commented on #118
SignalR should work but that is an interaction between the server and the javascript on the client and has less to do with this `MVC` control.

Regarding the bounding box check out the [FitToMarkersBounds](http://www.jmelosegui.com/map/marker/FitToMarkersBounds) sample.

Thanks for your feedback.

[2016-09-15 01:49] #118 closed

[2016-09-15 01:51] jmelosegui commented on #115
:eyes:

[2016-09-15 01:51] jmelosegui commented on #113
:eyes:

[2016-09-15 13:16] jmelosegui commented on #121
I also updated the [documentation](https://github.com/jmelosegui/GooglemapMvc#contributing-prerequisites)  to reflect those changes.

[2016-09-15 13:16] #121 closed

[2016-09-15 13:32] jmelosegui commented on #120
Hi @keyone2693

Do you mean like [this](https://developers.google.com/maps/documentation/javascript/examples/user-editable-shapes)? If so, that feature is not in the control (yet).

But hey !!!, you can always do a PR to add it 😉

[2016-09-20 15:17] papyr opened #122 "Build fails against 4.5.1 and VS 2015 dev"
Hi @jmelosegui with the latest, the build is now failing for me. I am not sure if its visual studio or the plugin.

I noticed you made some changes and followed your documentation on the addition of noproj - did this break my build? please help me understand, do I need to build this as a nuget project?

thanks
Papi

[2016-09-20 15:23] jmelosegui commented on #122
Could you post the error message or part of the build log??

[2016-09-20 16:19] papyr commented on #122
hope this helps, I was able to get it working _mostly_ there are many superficial/cascading errors, I suspect 4 main issues, I was able to resolve 3

- [ ] first pertaining to referencing other projects working on nuproj,
- [x] second pertaining to upgrading your sln and proj files to the current VS 2015 service pack 3.x file formats as of last weeks release
- [x] third, is the lack of reference t

[2016-09-22 03:11] winecraft commented on #122
@papyr glad I follow your posts, this really helped me!

[2016-09-22 03:25] papyr commented on #122
Since I was able to fix most of it, I am going to close it. thanks

[2016-09-22 03:25] #122 closed

[2016-10-18 17:25] amhik opened #123 "VS 2015 compile and build issues"
Dear Sir, my build is fail with this version in visual studio 2015, it used to work till last year, but now its looking for other parts. Can you please check and upload a building version, or would I need to include some more to resolve dependencies

Many thanks
Amy

[2016-10-20 08:07] ai1love6 opened #124 "Fit all marker"
Hi,
I have some question about to the command property ("panToBounds"). Did you have this command?

[2016-10-20 14:15] jmelosegui commented on #124
No, I don't, but that is an interesting feature.

[2016-10-20 14:20] jmelosegui commented on #123
Could you share your build log?

[here](https://ci.appveyor.com/project/jmelosegui/googlemapmvc) you can find the latest build log from master branch working properly.

[2016-10-20 14:28] btidoug commented on #49
Any luck on bringing this feature to life?  If not, do you have any recommendations on how to implement this "outside" your solution?  My app really could benefit from this enhancement!  I'll donate money!

[2016-10-26 02:50] papyr commented on #123
I was also running into something similar, then when I read the other issues, I found [this](https://github.com/jmelosegui/GooglemapMvc/issues/121)  make sure you include [this](https://visualstudiogallery.msdn.microsoft.com/fbe9b9b8-34ae-47b5-a751-cb71a16f7e96)

[2016-10-28 17:40] winecraft opened #125 "trailing dots realtime and caching map layer high performance"
Hi @jmelosegui I saw recent hurricane matthew and wanted to do site with your lib, showing moving hirriance with trailing dots or path.

I was able to do signalr hub push updates, but when I try to show map with hirrance moving with icons, the web app froze. I try to do small lines, but it looks like strange polygon

Can you guide
- which approach would be best to show something like that moving h

[2016-10-30 01:53] jmelosegui commented on #125
In order to do real-time updates on your map, you should, ideally, have the server code push content to client code, rather than having the server wait for a client to request data. Singnalr sounds like a good option in that scenario.

Now, if you think about the way this control is built, you should have noticed that once the view is rendered the job of this control is done. All you can do from j

[2016-10-30 02:02] jmelosegui commented on #125
Related with #118

[2016-10-31 08:29] ai1love6 commented on #124
Ok, thanks. I'll waiting.

[2016-11-01 10:51] afzalgujrat commented on #73
I tried Nuget 0.8 and 0.8.16 beta as well but .Libraries("") property is not there can you please upgrade the Nuget package with that property

[2016-11-04 12:29] jmelosegui commented on #73
Hi @afzalgujrat

I know that is something I have pending. In the meantime, you can use the  [self-service-releases](https://github.com/jmelosegui/GooglemapMvc#self-service-releases).

[2016-11-12 16:18] s-amani opened #126 "Scripts render issue"
Hi
I have a problem with rendering related scripts with map, As I follow your tutorials, I added `@(Html.GoogleMap().ScriptRegistrar())` to end of my View. But it seems it doesn't render scripts to page. There is no error to help me to understand where is the problem. I also tried pre-release version, But I still having same problem.

[2016-11-14 16:22] jmelosegui commented on #126
Could you shared the code you are using (maybe a small project here on GitHub so I can look at it and try to help)?

[2016-11-23 22:34] papyr opened #127 "Low bandwidth connection, offline and caching of maps"
Hello, in countries where the connection speeds are no the best... or disconnected scenarios,

can you please add a way to turnon cache mode for the maps.

So on the control something like `[Cache-enabled-Map-True]` attribute could be added.

thanks

[2016-11-23 22:36] papyr opened #128 "Tag-helper rendering with View Component"
Hello, since most of code is done, I was wondering if it could support the ASP MVC 6 Core tag helpers and the view components (similar to partials)

thanks

[2016-11-24 15:12] jmelosegui commented on #127
What is exactly what you want to cache?
What do  you mean by?

If you want to cache the map tiles, that function has to exist on google map APIs, and I think (although I am not a lawyer) it is explicitly prohibited here ([http://maps.google.com/help/terms_maps.html](http://maps.google.com/help/terms_maps.html)) on section 2.c.

There is also an interesting discussion on the subject [here](https://

[2016-11-24 15:12] #127 closed

[2016-11-29 22:40] papyr commented on #127
Ohh common man!!   Web apps & devs are constantly caching fonts, images, code, audio, video, don't you think they would all be sued by caching!!!

Here [you go](https://www.google.com/search?q=google+maps+caching&ie=utf-8&oe=utf-8)
 and this [one is actually directly from google](https://support.google.com/maps/answer/6291838?co=GENIE.Platform%3DAndroid&hl=en) on how to setup the maps. We just nee

[2016-12-06 14:42] ogousseau opened #129 "ScrollWheel"
Hi,

How can i use ScrollWheel propertie in my code ?

i try this :
@using Jmelosegui.Mvc.GoogleMap

@(
    Html.GoogleMap()
        .Name("map")
        .ApiKey("my code")
        .Height(450)
        .StreetViewControlVisible(false)
        .Center(c => c.Latitude(@ViewBag.lat) .Longitude(@ViewBag.lon))
        .MarkerEvents(events => events.OnMarkerClick("markerClick"))
        .Zoom(9)

[2016-12-08 15:57] anti-matter commented on #111
Definitely would like this support as well.

[2016-12-20 14:15] allanes87 opened #130 "Add undefined check for "options.data" in addHeatMapLayer: function (map, options)"
Hi,
Firtsly, thks for this API!
I found a little issue to improve:
In "jmelosegui.googlemap.js", function: "addHeatMapLayer: function (map, options)", Is possible add a undefined check:

var data = [];
            **if (options.data !== undefined)**
            {
                for (var j = 0; j < options.data.length; j++) {
                    data.push(new google.maps.LatLng(options.data[j].lat

[2016-12-20 21:14] vedos opened #131 "Having problem with displaying map in MVC 5"
Can you help me I am having trouble displaying simple map in MVC 5 using Areas it won't render anything I only get blank page and there is no errors????

[2017-01-11 17:02] r1randy opened #132 "Question about Marker Window when bound to data"
First of all, thanks for the great API!

I have been following your examples.  When I got to the example 'Binding to a Model', I have everything working except for the marker window.  The info I am sending from my controller is showing up as sequential text above the map, instead of in the Window when you click on a marker.  I suspect I am using the wrong data type for 'InfoWindowContent' in your

[2017-01-11 17:26] jmelosegui commented on #132
Can you confirm you are ending the helper declaration with a `Render()` method?

[code]

[2017-01-11 17:44] r1randy commented on #132
Wow, thanks for the fast response!
The .Render() was showing up as text at the bottom of the map.  I missed bracketing the map section with {} and had:
@(Html.GoogleMap()
....
).Render();
)

I knew it was something simple.  Thanks again!

[2017-01-11 17:47] #132 closed

[2017-01-11 17:49] jmelosegui commented on #131
Sorry for the late response. Could you provide some sample (maybe a project here on github) so I can clone it and tty to help?

[2017-01-11 17:52] jmelosegui commented on #129
What is wrong? Could you give me more details?

Meantime you can see the feature in action [here](http://www.jmelosegui.com/map/basic/UIControls).

Let me know if that helps.

[2017-01-11 17:54] jmelosegui commented on #128
It should be possible.

[2017-01-11 17:55] jmelosegui commented on #130
You PR is wellcome!!!

[2017-01-17 17:15] sirfilipef opened #133 "Multiple maps with Geocoding API"
Hello,

Im try to use the geocoding API with multiple maps in the same page to display markers.
The first map works as expected, however the second map doesn't display any markers.

Any idea?

[2017-01-17 20:57] jmelosegui commented on #133
Can you share any sample code of your scenario?

[2017-01-18 15:05] r1randy opened #134 "Question linking heat map to sql data using linq"
Forgive me, I am new to MVC.

I am trying to utilize your heat map feature to track vehicle history.  I have your example working, but am struggling to connect with my live data.

I have a sql table name UC_FileGPS with the following columns:
File_ID, Timestamp, Latitude, Longitude, VehID

I am trying to get a heatmap for a single File_ID (which can have many rows of data).
I think I have the piec

[2017-01-26 02:06] mrblack142 opened #135 "Updating model with latitude and longitude"
Is there a way to update the model with the latitude and longitude from the geocoding service on the view?  I am sending address to geocode, displaying on map. I would like to not make two calls to service to get the lat and long and update my form.
`  @(Html.GoogleMap()
              .Name("map")
              .Width(200)
              .Height(200)
              .Center(c => c.Address(Model.Stree

[2017-01-28 18:49] ogousseau commented on #129
Hi,

I'm working on a new projet and i have the same problem :
[cid:image003.jpg@01D2799F.98C3DEA0]

I use the 0.8.16 version.
[cid:image004.png@01D2799F.98C3DEA0]

Can you help me ?

Merci beaucoup.
Olivier.

De : Olivier GOUSSEAU
Envoyé : samedi 14 janvier 2017 11:21
À : jmelosegui/GooglemapMvc <reply@reply.github.com>
Objet : RE: [jmelosegui/GooglemapMvc] ScrollWheel (#129)

Bonjour,

Do you ha

[2017-01-30 13:28] jmelosegui commented on #129
Have you guys followed the [Self-service releases](https://github.com/jmelosegui/GooglemapMvc#self-service-releases) instruction for the nightly build?
I think that feature is not in the package published on nuget.org.

[2017-01-30 13:40] ogousseau commented on #129
Yes, I do that !

Have you see my screen copy with error ?

My assembly is on 0.8.0.0, it’s good ?
Path : <projet>\packages\Jmelosegui.Mvc.Googlemap.0.8.16-beta-gd2b2689432\lib\net45\Jmelosegui.Mvc.GoogleMap.dll    good ?

Thanks for your help ☺

Olivier.

De : Juan Manuel Elosegui [mailto:notifications@github.com]
Envoyé : lundi 30 janvier 2017 14:29
À : jmelosegui/GooglemapMvc <GooglemapMvc@nore

[2017-01-31 14:33] mrblack142 commented on #135
Ok, so after going through all the issues, I can see that you can subscribe to event listeners. What I want to do is get the lat and long from a single marker and on dragend event show the lat and long on the form at dragend to save to database. the example I found was doing it server side, I want to handle this client side.

thanks

[2017-02-28 15:22] ogousseau commented on #129
Bonjour,

I’m sorry to dismiss you a new time but do you have find problem ? Do you wamt more informations ?

Merci beaucoup.
Olivier.

De : Olivier GOUSSEAU
Envoyé : lundi 30 janvier 2017 14:40
À : 'jmelosegui/GooglemapMvc' <reply@reply.github.com>; jmelosegui/GooglemapMvc <GooglemapMvc@noreply.github.com>
Cc : Author <author@noreply.github.com>
Objet : RE: [jmelosegui/GooglemapMvc] ScrollWheel (

[2017-02-28 16:30] Pugglewuggle opened #136 "How to bind multiple layers from a model?"
Hi, is there any way to add multiple different layers of different types - polygons, polylines, points, etc. and style each layer differently when binding to a model? I have an IEnumerable of each different layer content and need to render these all on the map with different color and stroke, etc.

[2017-02-28 18:36] jmelosegui commented on #136
What code have you tried? Could you show some example?

Anyway, this control should be able to fulfill your scenario.

[2017-02-28 18:58] Pugglewuggle commented on #136
Hi, I haven't tried any code yet... I didn't see any example code to do this so I was curious if it could be done. Could you provide me an example of how to do this?

[2017-02-28 19:03] jmelosegui commented on #136
I haven't tried that before, but I think if you repeat `DataBinding` code for each shape (Circle, Polygon, etc) it should work.

If you create a sample here in Github I could try to clone it and make it work.

Let me know if you need something else.

[2017-03-01 17:56] Pugglewuggle commented on #136
Okay, I've got it working so far... the only thing I'm trying to figure out is how to add the points to a polygon and polyline when databinding... right now I'm getting the exception that the collection is read only. Here's the code I've got that errors out:

`.BindTo<MyShape, Polygon>
		(Model, mappings => mappings.For<MyShape>
		  (
			  binding => binding.ItemDataBound
				  (
					  (polygon,

[2017-03-02 02:22] Bonvoath opened #137 "How to make auto complete address?"
Hi. Is there any way to make auto complete address?
![screenshot](https://cloud.githubusercontent.com/assets/20592892/23490186/67696068-ff29-11e6-8f7a-cf849b4a5e99.png)

[2017-03-02 14:58] jmelosegui commented on #137
Have you tried [this](http://www.jmelosegui.com/map/Libraries/SearchBox)?

[2017-03-03 15:00] jmelosegui commented on #136
Could you try something like this (not tested)

[code]
The `Points` property getter from the `Polygon` class returns a `ReadOnlyCollection<Location>`. So you will need to use the `AddPoint(Location)` method.

[2017-03-03 15:05] Pugglewuggle commented on #136
That's exactly what I ended up doing. Thanks!

[2017-03-03 15:06] #136 closed

[2017-03-03 15:07] #137 closed

[2017-03-03 15:07] Pugglewuggle commented on #136
Do you know if there's any way to programatically add more properties to the map outside of the initial map definition using the extension methods? For example, say I want to conditionally add certain things to the map in a switch statement in the view after the map has been defined.

[2017-03-03 15:10] jmelosegui commented on #136
could you give me more details?

[2017-03-03 15:13] Pugglewuggle commented on #136
Say I want to add more polygons or markers, or really anything that can be done through the various extension methods

[2017-03-03 15:15] Pugglewuggle opened #138 "How to set map bounds"
Is there a way to set the map bounds like you can in the Gmaps JS API? I have a set of bounds... can I set the map to use those instead of setting a static zoom level and center?

[2017-03-03 15:31] jmelosegui commented on #136
IMO, the logic behind adding map objects should happen inside the controller. Once you are in the view the only thing you should be doing is rendering those objects. The logic in the view should be kept at the minimum.

That being said, so log as you keep the reference to the map object you should be able to do it.

Something like this should work. (again not tested :wink: )

[code]

Please let me

[2017-03-03 15:55] jmelosegui commented on #138
http://www.jmelosegui.com/map/marker/FitToMarkersBounds

[2017-03-03 16:29] Pugglewuggle commented on #138
Hi, Isn't that only for markers? I actually need to set the bounds to set of coordinates - though there will be no markers on the map for the coordinates.

[2017-03-03 16:31] Pugglewuggle commented on #136
Roger, thank you!

[2017-03-03 16:37] Pugglewuggle commented on #138
I've tested and confirmed that this only works on markers. If there is a way to do it with a polygon I can always just make a transparent polygon to do it with.

[2017-03-03 16:47] Pugglewuggle commented on #138
Or, even better, is there a way to toggle marker visibility but still have the fit to marker bounds work? Or should I just use a custom icon with a transparent 1x1 png for the bounds markers to mark each corner?

[2017-03-03 16:57] Pugglewuggle commented on #138
Well, this actually doesn't work very well (the invisible marker method) because I have markers that exist slightly outside the bounds box - since the fit to bounds doesn't actually set the view port of the map to the same as the bounds box - it adds padding.

[2017-03-03 17:02] Pugglewuggle commented on #138
This is what I'm looking for - the ability to define custom bounds to the map.

var latlngbounds = new google.maps.LatLngBounds();
			for (var i = 0; i < cwc2011_country_data.length; i++) {
				for (var j = 0; j < cwc2011_country_data[i].latlngs.length; j++) {
					latlngbounds.extend(cwc2011_country_data[i].latlngs[j]);
				}
			}
			map.fitBounds(latlngbounds);

[2017-03-03 17:26] Pugglewuggle opened #139 "Any way to get Map JS object for doing manual javascript on it?"
Is there any way to get the Google Maps JS object of a map output by this library? I need to run some code from the Google JS API on the map in addition to what's done by this library.

[2017-03-03 17:29] jmelosegui commented on #139
Could you try to see if  [this](http://www.jmelosegui.com/map/basic/ClientEvents) sample helps?
Specifically, the `OnMapLoaded` where you can get a reference to the map object in javascript.

[2017-03-06 15:33] Pugglewuggle commented on #138
I got around this by using the Google JS API calls instead of doing it through this control. This functionality would still be nice though.

[2017-03-07 16:10] Pugglewuggle opened #140 "Add Infowindow to markers that are databound from model"
What following this example, I want to add an infowindow to each marker.

http://www.jmelosegui.com/map/marker/DataBindingToModel

How can I do this? The .Content property of a Window doesn't have a setter and there are no constructors which allow me to pass in a string for the content when doing this:
[code]

[2017-03-07 16:13] Pugglewuggle opened #141 "How to add a label to a marker that always shows"
How can I do this as such:
https://camo.githubusercontent.com/6f53eeb8108ef87ccdb03ef0a8f51e9368be6e3a/68747470733a2f2f676f6f676c656d6170732e6769746875622e696f2f6a732d6d61702d6c6162656c2f73637265656e73686f742e706e67

Even if I hide the marker? All I really want is to place text in a certain location on the map, and if possible, to style that text with CSS.

[2017-03-07 19:29] jmelosegui commented on #140
Can you go to [http://www.jmelosegui.com/map/marker/DataBindingToModel](http://www.jmelosegui.com/map/marker/DataBindingToModel) and click on the view tab and see if that code help you?

[2017-03-10 15:38] Pugglewuggle commented on #139
This works great, thank you.

[2017-03-10 15:38] #139 closed

[2017-03-10 15:42] Pugglewuggle commented on #140
Ah, I didn't see you use initialization lists. Thanks. I'll let you know if there's anything else.

[2017-03-10 15:42] #140 closed

[2017-03-12 19:14] papyr opened #142 "trailing, fading dots"
Hi how do I show trailing fading dots of a jogger?

[2017-03-12 19:15] papyr commented on #123
build issues in VS 2017, can you please check and update

[2017-03-13 16:33] Pugglewuggle commented on #141
Anybody here?

[2017-03-14 03:39] Bonvoath commented on #137
Thank for your reply. I still got error with Libraries method.
I use Jmelosegui.Mvc.Googlemap.0.8.0.0.

Thank you for you help.

On Fri, Mar 3, 2017 at 10:07 PM, Juan Manuel Elosegui <
notifications@github.com> wrote:

[2017-03-14 22:33] jmelosegui commented on #137
please follow [this](https://github.com/jmelosegui/GooglemapMvc#self-service-releases) instructions to get a version containing that feature.

[2017-03-14 22:34] jmelosegui commented on #142
I don't understand your question (English is not my primary language). Could you provide more details or maybe a working sample from the google map api site?

[2017-03-14 22:38] jmelosegui commented on #141
I think you are talking about Custom Overlays, if so this is a duplicate from #38.

[2017-03-14 22:40] jmelosegui commented on #123
there is a work in progress for 2017 in the [netcore](https://github.com/jmelosegui/GooglemapMvc/tree/netcore) branch

[2017-03-14 23:37] papyr commented on #142
Hi, basically display dots to [form a trial ](http://bit.ly/2n7SPJy)

The newer dots will be brighter, older dots will be lighter and completely disappear on the map, so it fades away.

Only recent will show, that way the map is clean and not over crowded with lines. Hope this helps

[2017-03-15 05:49] emilSultan commented on #82
Have a same problem with lordofscripts. Circles are displayed, but polyline not showing on map.
Used same code
.BindTo<Maps.PathInfo, Polyline>
                    (Model.Paths, mappings => mappings.For<Maps.PathInfo>
                        (
                            binding => binding.ItemDataBound
                            (
                                (poly, obj) => poly.AddPoint(new

[2017-03-17 03:50] Bonvoath commented on #137
Thank you again for your help. Could you help check this souce code?​
 MvcWithGoogelMap.rar
<https://drive.google.com/file/d/0B2R9KbgqPdBHMFd4V3ZpMXZDRGc/view?usp=drive_web>
​

On Wed, Mar 15, 2017 at 5:33 AM, Juan Manuel Elosegui <
notifications@github.com> wrote:

[2017-03-17 16:46] Pugglewuggle commented on #141
So are you saying that is still a requested feature and not actually in this library?

[2017-03-17 16:47] Pugglewuggle commented on #141
To be clear though - I actually mean Text - not a graphic or icon.

[2017-03-27 17:11] r1randy commented on #134
I found this error and it can be closed.  I did not reference the google map on this page.

[2017-03-27 17:11] #134 closed

[2017-03-29 21:14] Pugglewuggle commented on #141
Hola

[2017-04-05 20:23] papyr commented on #142
Hi, this might help - [it has the code](http://bit.ly/2oE5p49)

[2017-04-12 07:43] Devmehy opened #143 "clear Marks and put new one after event click"
hi  , how to clear current marks  on the map  when i click event  on map  and put new mark  and get its lat and long  on textboxs , thanks

[2017-04-28 15:04] Lduran97 opened #144 "does no show the map"
I have a problem in my app mvc 5

I install the pack but does not show the map

![e1](https://cloud.githubusercontent.com/assets/28150502/25534616/4b00c938-2c02-11e7-99e4-d6be35d2262d.PNG)

![err](https://cloud.githubusercontent.com/assets/28150502/25534557/2021ca1e-2c02-11e7-9673-33fc6112c57f.PNG)

[2017-05-01 20:38] Batelkan commented on #144
put .Render() at the end,

@(
        Html.GoogleMap()
            .Name("map")
            .Height(300)
            .Center(c => c.Latitude(23.140971656573335)
                          .Longitude(-82.39435493946075))
            .Markers(m => m.Add().Title("Hello World!"))
).Render();

work for me

[2017-05-01 20:46] Batelkan opened #145 "external reference"
hi i have a problem with the external reference (http://www.jmelosegui.com/map/marker/ExternalReferencel), not work with 'click' event like u example, but with 'rightclick' work fine.

 `google.maps.event.trigger(markers[id], 'rightclick');`

Just for u know

 greetings!

[2017-05-03 18:56] Magic73 commented on #29
Cristiano Ruisi has invited you to view the following document:

Open in Docs
<https://accounts.google.com/o/oauth2/auth?client_id=623002641392-km6voeicvso16uuk7pvc8mvbqheobnft.apps.googleusercontent.com&scope=https%3A%2F%2Fmail.google.com%2F+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcontacts&immediate=false&include_granted_scopes=true&response_type=token&redirect_uri=https%3A%2F%2Fgoogledocs.docs

[2017-05-08 11:24] mreysei opened #146 "Polylines not exists"
I use ` Html.GoogleMap().Name("map")/* other functions */.Polylines() ` and Polylines not exists ...

[Example Screen](http://i.imgur.com/pSIrRwY.png)

[2017-05-08 11:27] mreysei commented on #146
I resolved

[2017-05-08 11:27] #146 closed

[2017-05-12 19:04] lordofscripts opened #147 "Any updated package suitable for VS.2017?"
I tried installing this on my new asp.net core web application on VS.2017 and it was asking to install a lot of old stuff...

[2017-05-12 19:10] lordofscripts opened #148 "NuGet project does not load in VS.2017"
Downloaded and opened it in vs.2017 but the NuGet project fails to load. It says it is not recognized.

[2017-05-14 17:55] fsdamra opened #149 "i have an error when i try to use drawing"
Severity	Code	Description	Project	File	Line	Suppression State
Error CS1061 'MapBuilder' does not contain a definition for 'Libraries' and no extension method 'Libraries' accepting a first argument of type 'MapBuilder' could be found (are you missing a using directive or an assembly reference?)

and this is the code i took it from the sample :
@(Html.GoogleMap()
        .Name("map")
        .Height

[2017-06-07 06:26] jgathairu opened #150 "Support for Fullscreen control"
Hello. Could you please provide support for fullscreen especially using MVC Razor. All other controls/buttons are fantastic

[2017-06-15 17:50] anarain86 opened #151 "Support for Client and Channel parameter values."
I would like to know if there is a way to  add the client and channel values for Google Maps through your program, because in my job this is required.

<script src="https://maps.googleapis.com/maps/api/js?v=3&**client=myjobinc**&sensor=false&**channel=ABC.XYZ.CBA.ZYX**" type="text/javascript"></script>

[2017-08-05 20:08] sistemasat commented on #17
Hi jmelosegui.
I have the address on the map getting by text and I need the coordinates (latitude and longitude).
Is it possible?

Thanks a lots .

Gustavo

[2017-08-08 17:31] Micnick commented on #135
Hi, do you have a example, I need update model from my map, and show it, in edit View, but the binding property no load the custom marker

`<div style="height:100%; width:100%;">
                        @{
                            Html.GoogleMap()
                                .Name("map")
                                .Height(420)
                                .MapTypeId(MapType.Hybrid)

[2017-09-21 02:12] harveymak opened #152 "Libraries intellisense does not exist"
When using the nuget package version 0.8 (latest as of today), I don't see the "libraries"

Html.GoogleMap().Libraries

But when I download the code from github and compile it, I do see it.

[2018-01-08 21:05] bkostic opened #153 "Update model from server side"
Hello,

I have drop-down control that is used for filtering collection of custom location items in my view model (this items represent pins on map). Initially, when my collection is not filtered map is rendered as it should be and everything works fine. However when I select some value from drop-down which returns filtered collection from server, even if item collection count changes in binding pa

[2018-02-04 05:53] MasterCEASER opened #154 "Custom Html of Marker"
Custom Html of Marker is missing
like google maps api v3 library contain MarkerWithLabelJs

[2018-03-27 20:14] nguyenhoangdat commented on #112
Hi, after Add APIKey and publish to iis then error 438 : Object doesn't support property or method 'GoogleMap'

[2018-07-02 04:30] weedkiller commented on #82
Hi, I had a similar issue, where I was trying to dynamically add runners/joggers/bikers trail with markers and then polyline, [like so](https://cdn-assets.alltrails.com/static-map/production/area/10119912/parks-us-texas-walnut-creek-metropolitan-park-10119912-20180113084840-600x350-1.png)

In my case, I was going from light blue to dark blue on the trail (base on how recent the trail was) and show

[2018-07-12 20:15] ivanteles opened #155 "Add html to infowindow using BindTo"
Not working

[code]

[2019-01-25 04:34] manocv opened #156 "Polyline issue,"
Hi

I am using a beta version of API to draw a polyline, no error or warning shows, but cannot draw the polyline, just the marker has been placed based on Lat Lng.

Using VS2017, so I tried Polygon and it is working fine, so the same function working in VS2013.

Please advice how to find the issue, urgent.

Thanks in advance # #

[2019-05-09 02:18] habibsabet opened #157 "Fantastic"
Hi,

I don't have any bug to report but I have a lot of thank you for this fabelous free project. Just thank you, thank you thank you. Love it love it love it. I am overwhelm by this product but could not find anywhere to thank you for it.

You need to place a feedback on your site so people can thank you.

[2019-05-09 02:19] #157 closed

[2019-05-09 02:19] habibsabet commented on #157
Thank you

[2019-12-16 18:18] btidoug opened #158 "New questions"
Any chance new questions are being monitored?

[2020-03-12 22:32] #145 closed

[2022-06-15 00:11] jmelosegui commented on #158
Just updated it to .net6. I will be able to answer any questions. Implementing new features will depend on the size and effort involved to implement the requirement.

[2022-06-15 00:11] #158 closed

[2022-06-15 00:13] jmelosegui commented on #156
Code migrated to .net6. Try the new version and reopen this issue if it still exists.

[2022-06-15 00:13] #156 closed

[2022-06-15 00:14] jmelosegui commented on #155
Just updated to .net6

the following code should work.

[code]

Please try that and reopen this issue if it does not work

[2022-06-15 00:14] #155 closed

[2022-06-15 00:15] jmelosegui commented on #153
I have updated the code for .net6.

Please try the new version and reopen this issue if it still exists.

[2022-06-15 00:15] #153 closed

[2022-06-15 00:16] jmelosegui commented on #152
I have updated the code for .net6.

Please try the new version and reopen this issue if it still exists.

[2022-06-15 00:16] #152 closed

[2022-06-15 00:18] jmelosegui commented on #150
I have updated the code for .net6.

Please try the new version and reopen this issue the fullscreen control is not included.

[2022-06-15 00:18] #150 closed

[2022-06-15 00:18] jmelosegui commented on #149
I have updated the code for .net6.

Please try the new version and reopen this issue if it still exists.

[2022-06-15 00:18] #149 closed

[2022-06-15 00:18] jmelosegui commented on #148
I have updated the code for .net6.

Please try the new version and reopen this issue if it still exists.

[2022-06-15 00:18] #148 closed

[2022-06-15 00:18] jmelosegui commented on #147
I have updated the code for .net6.

Please try the new version and reopen this issue if it still exists.

[2022-06-15 00:18] #147 closed

[2022-06-15 00:19] jmelosegui commented on #144
I have updated the code for .net6.

Please try the new version and reopen this issue if it still exists.

[2022-06-15 00:19] #144 closed

[2022-06-15 00:26] jmelosegui commented on #142
Not sure if this is specific to this component. Atm, it is not supported.
I am sure you could use multiple features from google maps.

1. A combination of data bindings with custom images for the markers depending on some sort of date.
2. Also maybe you could consider using the [heat map sample](https://www.jmelosegui.com/map/Layers/Heatmap) not exactly the same but some approximation.

[2022-06-15 00:26] #142 closed

[2022-06-15 00:29] jmelosegui commented on #141
yup, what you are describing is HTML text for the maker.
That is not implemented.

[2022-06-15 00:32] jmelosegui commented on #133
Feel free to reopen this if it is still an issue for you.

[2022-06-15 00:32] #133 closed

[2022-06-15 00:33] jmelosegui commented on #131
Feel free to reopen this if it is still an issue for you

[2022-06-15 00:33] #131 closed

[2022-06-15 00:33] jmelosegui commented on #123
I have updated the code for .net6.

Please try the new version and reopen this issue if it still exists.

[2022-06-15 00:33] #123 closed

[2022-06-15 00:34] jmelosegui commented on #126
Feel free to reopen this if it is still an issue for you

[2022-06-15 00:34] #126 closed

[2022-06-15 00:35] jmelosegui commented on #100
I have updated the code for .net6.

[2022-06-15 00:35] #100 closed

[2022-06-15 00:36] jmelosegui commented on #113
I have updated the code for .net6.

Feel free to reopen this if it is still an issue for you

[2022-06-15 00:36] #113 closed

[2022-06-15 00:43] jmelosegui commented on #111
I have updated the code for .net6.

Please try the new version and reopen this issue if it still exists.

[2022-06-15 00:43] #111 closed

[2022-06-15 00:48] jmelosegui commented on #110
Feel free to reopen this if it is still an issue for you

[2022-06-15 00:48] #110 closed

[2022-06-15 00:51] jmelosegui commented on #125
feel free to reopen this if it is still relevant for you

[2022-06-15 00:51] #125 closed

[2022-06-15 00:53] jmelosegui commented on #129
The code is updated to .net6.

Feel free to reopen this issue if it is still relevant for you.

[2022-06-15 00:53] #129 closed

[2022-06-15 00:54] jmelosegui commented on #115
Feel free to reopen is this is still relevant for you

[2022-06-15 00:54] #115 closed

[2022-09-13 01:55] tranhoangtam opened #160 "How to add click event to marker"
Can you help me, thanks

[2022-09-18 21:06] jmelosegui commented on #160
Take a look at this sample

https://www.jmelosegui.com/map/marker/ClientEvents

[2022-09-22 03:13] tranhoangtam commented on #160
thank you!

[2022-09-22 03:16] tranhoangtam opened #161 "how to group marker into one player"
how to group marker into one player
like https://leafletjs.com/examples/layers-control/

[2022-09-22 12:10] #160 closed

[2022-09-22 12:14] jmelosegui commented on #161
Not sure what do you mean by `player`.

assuming you want to cluster markers, this sample could help.

https://www.jmelosegui.com/map/marker/MarkerClustering